html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body{
	background-color: #fff;
	color: #52000a;
	font: normal 14px 'Roboto', sans-serif;
    letter-spacing: 1px;
}

img{
	width: 100%;
	height: auto;
}

a{
    color: #41516b;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover,
a:active,
a:focus{
    color: #94001c;
	text-decoration: none;
}

form input:focus,
form select:focus,
form input:active,
form select:active{
    outline: none;
}

form input{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul{
    list-style-type: none;
}

/* LOADER */

.loader{
	background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_inner {
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}



/* content section */

.tab-content{
	display: block !important;
}

.slider-content{
	display: none !important;
}

.content_section{
    width: 100%;
    max-width: 900px;
    display: table;
    margin: 0 auto;
    height: 100vh;
}

.content_block{
    display: table-cell;
    
    margin: 0 auto;
    vertical-align: middle;
    min-height: 400px;
}

.content_block .nav_tabs{
    text-align: center;
    margin-bottom: 20px;
}

.content_block .nav_tabs li{
    display: inline-block;
}

.content_block .nav_tabs li.active a{
    color: #94001c;
}

.content_block .nav_tabs li a{
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    margin: 0 80px;
}

.content_block .tab-pane{
    position: relative;
    min-height: 400px;
    padding: 0 50px;
}

.tab-pane .photo_wrap{
    position: absolute;
    top: calc(50% - 130px);
    left: 50px;
}

.photo_wrap img{
    width: 260px;
    height: 260px;
}

.tab-pane .about_content{
    float: right;
    margin: 139px 0;
    max-width: 470px;
}

.tab-pane .about_content h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.tab-pane .about_content p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 15px;
}

.portfolio_content ul{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}


.portfolio_content li{
    display: inline-block;
}

.portfolio_content .portfolio_content_item{
    position: relative;
    display: block;
    width: 180px;
    height: 180px;
    background-color: #aaa;
    margin: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio_content .portfolio_content_item.item_1{
    background-image: url(../img/press-club.png);
}
.portfolio_content .portfolio_content_item.item_2{
    background-image: url(../img/culture.png);
}
.portfolio_content .portfolio_content_item.item_3{
    background-image: url(../img/pearl.png);
}
.portfolio_content .portfolio_content_item.item_4{
    background-image: url(../img/friday-design.png);
}
.portfolio_content .portfolio_content_item.item_5{
    background-image: url(../img/belarus-in-focus.png);
}
.portfolio_content .portfolio_content_item.item_6{
    background-image: url(../img/5element.png);
}


.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #94001c;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before,
.content_block .nav_tabs li.active .hvr-underline-from-center:before{
  left: 0;
  right: 0;
}


.portfolio_content .portfolio_content_item .hover{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.portfolio_content .portfolio_content_item .hover i{
    position: absolute;
    font-size: 40px;
    color: #bd071b;
    opacity: 0.9;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.portfolio_content .portfolio_content_item .hover i:nth-of-type(1){
    transform: rotate(-45deg);
    top: -25px;
    left: -25px;
}

.portfolio_content .portfolio_content_item .hover i:nth-of-type(2){
    transform: rotate(-135deg);
    bottom: -25px;
    left: -25px;
}
.portfolio_content .portfolio_content_item .hover i:nth-of-type(3){
    transform: rotate(45deg);
    top: -25px;
    right: -25px;
}
.portfolio_content .portfolio_content_item .hover i:nth-of-type(4){
    transform: rotate(135deg);
    bottom: -25px;
    right: -25px;
}


.portfolio_content .portfolio_content_item:hover .hover i:nth-of-type(1){
    transform: rotate(-45deg);
    top: -7px;
    left: -7px;
}

.portfolio_content .portfolio_content_item:hover .hover i:nth-of-type(2){
    transform: rotate(-135deg);
    bottom: -7px;
    left: -7px;
}
.portfolio_content .portfolio_content_item:hover .hover i:nth-of-type(3){
    transform: rotate(45deg);
    top: -7px;
    right: -7px;
}
.portfolio_content .portfolio_content_item:hover .hover i:nth-of-type(4){
    transform: rotate(135deg);
    bottom: -7px;
    right: -7px;
}


.portfolio_content .portfolio_content_item:hover .hover{
    opacity: 1;
}



.contacts_content{
    text-align: center;
    font-size: 18px;
    padding: 135px 0;
}
.contacts_content a{
    color: #52000a;
}

.contacts_content a:hover{
    color: #94001c;
}

.contacts_content li{
    padding: 10px 0;
}

.contacts_content i{
    font-size: 20px;
    margin-right: 20px;
}

/* Icon Sink Away */
@-webkit-keyframes hvr-icon-sink-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
}
@keyframes hvr-icon-sink-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
}
/* Icon Sink Away */
.hvr-icon-sink-away {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-left: 2.2em;
}
.hvr-icon-sink-away:before, .hvr-icon-sink-away:after {
  content: "";
  position: absolute;
  left: 0em;
  font-size: 22px;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-sink-away:after {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hvr-icon-sink-away:hover:after {
  -webkit-animation-name: hvr-icon-sink-away;
  animation-name: hvr-icon-sink-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  color: #94001c;
}

.hvr-icon-sink-away.vk:before, .hvr-icon-sink-away.vk:after {
  content: "\f189";
}

.hvr-icon-sink-away.mail:before, .hvr-icon-sink-away.mail:after {
  content: "\f0e0";
}

.hvr-icon-sink-away.phone:before, .hvr-icon-sink-away.phone:after {
  content: "\f095";
}

.popover{
    position: fixed;
    bottom: 10px;
    top: initial !important;
    left: calc(50% - 133px);
    font-family: 'Roboto', sans-serif;
    border: 1px solid #94001c;
}

.popover.bottom>.arrow{
    display: none;
}

.tooltip_li{
    cursor: pointer;
}

#demo-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}





