/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.content_section{
		padding: 0 15px;
	}
	.content_block .nav_tabs li a{
		margin: 0 50px;
	}
}

@media only screen and (max-width : 865px){
	.content_block .tab-pane{
		padding: 0;
	}
	.tab-pane .photo_wrap{
		left: 5%;
	}
}

@media only screen and (max-width : 805px){
	.content_block .tab-pane{
		padding: 0;
	}
	.tab-pane .photo_wrap{
		left: 0;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.temp h1{
		font-size: 4em !important;
	}
	.content_block{
		vertical-align: top;
	}
	.tab-content{
		display: none !important;
	}
	.slider-content{
		display: block !important;
	}
	.slick-slide{
		height: 85vh !important;
		min-height: 300px !important;
		overflow: hidden;
	}
	.slider_portfolio {
		height: 85vh !important;
	}
	.slider_portfolio.slick-active{
		height: 100% !important;
	}
	.slick-slide .photo_wrap img{
		margin: 00px auto 30px;
	}
	.slick-slide .about_content{
		text-align: center;
	}
	.content_section,
	.content_block{
		display: block;
	}
	.content_block .nav_tabs li a{
		margin: 0 20px;
	}
	.tab-pane .photo_wrap img{
		width: 200px;
		height: 200px;
	}
	.tab-pane .photo_wrap{
		position: relative;
		display: block;
		margin: 0 auto;
		padding: 25px 0;
		width: 200px;
	}
	.tab-pane .about_content{
		float: none;
		margin: 0;
		max-width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width : 630px){
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 590px){
	.content_block .nav_tabs li a{
		margin: 0 5px;
	}
}

@media only screen and (max-width : 480px) {
	.content_section{
		padding: 0 10px;
	}
	.content_block .nav_tabs li a{
		margin: 0 0px;
	}
	.content_block .nav_tabs li a{
		font-size: 11px;
	}
	.portfolio_content .portfolio_content_item{
		margin: 5px;
		width: 140px;
		height: 140px;
	}
}

@media only screen and (max-width : 370px){
	.slick-slide .photo_wrap img{
		width: 200px;
		height: 200px;
	}
	.content_block .nav_tabs li a{
		padding: 10px 0px;
	}
	.contacts_content{
		font-size: 16px;
	}
}

@media only screen and (max-height: 450px){
	.slick-slide{
		height: 120vh !important;
	}
	.contacts_content{
		padding: 80px 0;
	}
}