/* Large Devices, Wide Screens */
@media only screen and (max-width: 1140px) {
  .portfolio-block .block-content {
    max-height: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .card-inner .card-img img {
    width: 220px;
  }
  .card-inner .employee-name {
    font-size: 26px;
  }
  .card-inner p {
    font-size: 16px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .card {
    height: -webkit-calc(100% - 65px);
    height: calc(100% - 65px);
    width: 96%;
    margin: 50px 0 15px;
  }
  .card-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .card-inner .card-img {
    margin: 0;
  }
  .card-inner .contacts-block ul {
    padding: 0;
  }
}

/* Extra Small Devices, Phones */
