/* entypo */

@font-face{ 
	font-family: 'Entypo';
	src: url('../fonts/entypo/Entypo.eot');
	src: url('../fonts/entypo/Entypo.eot?iefix') format('eot'),
	     url('../fonts/entypo/Entypo.woff') format('woff'),
	     url('../fonts/entypo/Entypo.ttf') format('truetype'),
	     url('../fonts/entypo/Entypo.svg#webfont') format('svg');
}
