@charset "UTF-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #fff;
  color: #6d6d6d;
  font: normal 14px 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

p {
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #22bf65;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #4edf8c;
}

form input:focus,
form select:focus,
form input:active,
form select:active {
  outline: none;
}

form input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: '•';
  color: #22bf65;
  padding-right: 10px;
}

h1 {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: bold;
}

h2 {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: bold;
}

blockquote {
  position: relative;
  border: none;
  padding: 10px 30px;
  font-style: italic;
  font-size: 14px;
}

blockquote::before {
  position: absolute;
  content: '‘’';
  color: #22bf65;
  left: 0;
  font-size: 36px;
  top: 8px;
}

/* Loader */
.loader {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: none repeat scroll 0 0 #fff;
}

.loader_inner {
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 64px;
  width: 64px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* main page */
/* header */
header {
  height: 150px;
  border-bottom: 1px solid #f4f4f4;
}

.header_top {
  overflow: hidden;
}

.search_wrap {
  margin: 36px 0;
}

.search_block {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.search_block input {
  border: 1px solid #e1e1e1;
}

.search_block input[type="search"] {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  height: 40px;
  width: 100%;
  padding: 5px 40px 5px 15px;
}

.search_block input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 0;
  background-color: #22bf65;
  background-image: url("../img/search-ico.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.search_block input[type="submit"]:hover {
  background-color: #4edf8c;
}

.logo_wrap,
.contacts_wrap {
  text-align: center;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  height: 150px;
}

.logo {
  display: block;
  margin: 47px 0;
}

.logo h1 {
  font-size: 36px;
  color: #6d6d6d;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo h1 span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #22bf65;
}

.logo p {
  font-size: 11px;
  color: #6d6d6d;
}

.logo:hover h1 {
  color: #939393;
}

.logo:hover h1 span {
  color: #4edf8c;
}

.search_examples {
  width: 100%;
  margin: 20px 0 0;
  text-align: center;
}

.search_examples li {
  display: inline-block;
  margin: 0 4px;
}

.search_examples li::before {
  content: '■';
  padding-right: 5px;
  vertical-align: top;
}

.search_examples li a {
  font-size: 15px;
  color: #6d6d6d;
  font-weight: 300;
}

.search_examples li a:hover {
  color: #22bf65;
}

.contacts_wrap {
  padding: 0;
}

.call_wrap {
  padding: 17px 0;
  width: 81%;
  margin: 0 auto;
  display: table;
}

.call_wrap a {
  display: table-cell;
}

.call_wrap p {
  display: table-cell;
  font-size: 12px;
  text-align: left;
  max-width: 165px;
  padding-left: 10px;
  line-height: 1.2;
  vertical-align: middle;
  color: rgba(42, 42, 42, 0.502);
}

.call_button {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 40px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  display: table-cell;
  text-transform: uppercase;
  font-size: 12px;
  padding: 13px 0;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.call_button:hover, .call_button:focus, .call_button:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

.tel_wrap {
  height: 75px;
  border-bottom: 1px solid #f4f4f4;
}

.tel_wrap a {
  display: block;
  font-size: 30px;
  color: #2a2a2a;
  padding: 20px 0;
}

.tel_wrap span {
  color: #ffb800;
}

/* nav */
.header_nav {
  background-color: #666;
  height: 60px;
}

.header_nav nav {
  padding: 0;
}

.header_nav nav ul {
  height: 60px;
}

.header_nav nav ul li {
  display: inline-block;
  height: 60px;
  overflow: hidden;
}

.header_nav nav ul li:before {
  display: none;
}

.header_nav nav ul a {
  display: block;
  padding: 22px 45px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: none;
  transition: none;
}

.header_nav nav ul a:hover,
.header_nav nav ul a.active {
  color: #fff;
  background-color: #22bf65;
  background-image: url("../img/gradient-white.png");
  background-position: center 7px;
}

/* slide section */
.slide_section {
  height: 550px;
  text-align: center;
  padding: 90px 0;
  color: white;
  background-image: url("../img/slide-section-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide_section h2 {
  font-size: 48px;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}

.slide_section .wheel_wrap {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

.slide_section .wheel_wrap:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url("../img/wheel-ico.png");
  left: -webkit-calc(50% - 33px);
  left: calc(50% - 33px);
  bottom: -84px;
  -webkit-animation: move 8s linear infinite;
          animation: move 8s linear infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide_section .wheel_wrap p {
  padding: 50px 0 70px;
  font-size: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.slide_section .wheel_wrap p:first-of-type {
  float: left;
}

.slide_section .wheel_wrap p:last-of-type {
  float: right;
}

.slide_section h4 {
  clear: both;
  font-weight: bold;
  margin-bottom: 55px;
}

.slide_section .main_form {
  width: 80%;
  margin: 0 auto;
}

.slide_section .main_form .name, .slide_section .main_form .phone, .slide_section .main_form .button_wrap {
  margin: 0 10px;
  display: inline-block;
  width: -webkit-calc(90% / 3);
  width: calc(90% / 3);
  vertical-align: middle;
}

.slide_section .main_form .name input, .slide_section .main_form .phone input, .slide_section .main_form .button_wrap input {
  width: 100%;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid;
  height: 50px;
}

.slide_section .main_form .name, .slide_section .main_form .phone {
  position: relative;
}

.slide_section .main_form .name input, .slide_section .main_form .phone input {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px 10px 64px;
}

.slide_section .main_form .name input::-webkit-input-placeholder, .slide_section .main_form .phone input::-webkit-input-placeholder {
  color: #fff;
}

.slide_section .main_form .name input::-moz-placeholder, .slide_section .main_form .phone input::-moz-placeholder {
  color: #fff;
}

.slide_section .main_form .name input:-moz-placeholder, .slide_section .main_form .phone input:-moz-placeholder {
  color: #fff;
}

.slide_section .main_form .name input:-ms-input-placeholder, .slide_section .main_form .phone input:-ms-input-placeholder {
  color: #fff;
}

.slide_section .main_form .name:hover input, .slide_section .main_form .phone:hover input {
  border-color: #ffb800;
}

.slide_section .main_form .name:hover i, .slide_section .main_form .phone:hover i {
  color: #ffb800;
}

.slide_section .main_form .name input:focus, .slide_section .main_form .name input:active, .slide_section .main_form .phone input:focus, .slide_section .main_form .phone input:active {
  border-color: #ffb800;
  background-color: rgba(255, 255, 255, 0.2);
}

.slide_section .main_form .button_wrap input {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 50px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  text-transform: uppercase;
  margin: 0 auto;
}

.slide_section .main_form .button_wrap input:hover, .slide_section .main_form .button_wrap input:focus, .slide_section .main_form .button_wrap input:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

.slide_section .main_form i {
  position: absolute;
  font-size: 26px;
  top: -webkit-calc(50% - 13px);
  top: calc(50% - 13px);
  left: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide_section .main_form .phone i {
  top: -webkit-calc(50% - 11px);
  top: calc(50% - 11px);
}

/* advantages section */
.advantages_section {
  border-bottom: 1px solid #f4f4f4;
}

.advantages_section .advantages_item {
  height: 150px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.advantages_section .advantages_item .content {
  position: relative;
  margin: 50px 0;
  padding-left: 70px;
}

.advantages_section .advantages_item .content:before {
  position: absolute;
  content: '';
  width: 53px;
  height: 53px;
  left: 2px;
  background-image: url("../img/advantages-ico-sprite.png");
}

.advantages_section .advantages_item .content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.advantages_section .advantages_item .content p {
  font-size: 12px;
  color: #999995;
}

.advantages_section .advantages_item:hover .content:before {
  background-position-y: 53px !important;
}

.advantages_section .advantages_item.item_1 .content:before {
  background-position: 0 0;
}

.advantages_section .advantages_item.item_2 .content:before {
  background-position: -52.5px 0;
}

.advantages_section .advantages_item.item_3 .content:before {
  background-position: -105.5px 0;
}

.advantages_section .advantages_item.item_4 .content:before {
  background-position: -158.5px 0;
}

/* services section */
.services_section {
  padding: 60px 0 70px;
}

.services_section .services_item {
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 200px;
  background-color: #eee;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin: 0 auto 50px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-position: center;
}

.services_section .services_item.item_1 {
  background-image: url("../img/services-item-1.jpg");
}

.services_section .services_item.item_2 {
  background-image: url("../img/services-item-2.jpg");
}

.services_section .services_item.item_3 {
  background-image: url("../img/services-item-3.jpg");
}

.services_section .services_item .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.services_section .services_item .content {
  position: absolute;
  width: 100%;
  top: -webkit-calc(50% - 22px);
  top: calc(50% - 22px);
  text-align: center;
}

.services_section .services_item .content h3 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.services_section .services_item .content p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.services_section .services_item a {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 50px;
  width: 190px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: -25px;
  left: -webkit-calc(50% - 190px / 2);
  left: calc(50% - 190px / 2);
  padding: 15px 0;
  z-index: 1;
}

.services_section .services_item a:hover, .services_section .services_item a:focus, .services_section .services_item a:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

.services_section .services_item:after {
  opacity: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 200px;
  background-image: url("../img/services-hover.png");
  background-position: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.services_section .services_item:hover a {
  bottom: 15px;
}

.services_section .services_item:hover:after {
  opacity: 0.7;
}

/* counter section */
.counter_section {
  height: 440px;
  background-image: url("../img/counter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

.counter_section h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.counter_section p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.counter_section .items_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.counter_section .items_wrap h3 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ffb800;
}

.counter_section .items_wrap p {
  font-size: 16px;
  color: #fff;
}

.counter_section .items_wrap .item {
  position: relative;
  padding: 35px 45px;
}

.counter_section .items_wrap .item:after {
  position: absolute;
  content: '';
  background-color: #ffb800;
  width: 65px;
  height: 7px;
  left: -webkit-calc(50% - 65px / 2);
  left: calc(50% - 65px / 2);
  bottom: 0;
}

/* scheme section */
.scheme_section {
  height: 715px;
  background-color: #FFF;
  background-image: url("../img/scheme-section-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
}

.scheme_section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.scheme_section p {
  font-size: 14px;
  color: rgba(42, 42, 42, 0.5);
  margin-bottom: 80px;
}

.scheme {
  margin: 170px 0;
}

.scheme ul {
  position: relative;
  max-width: 775px;
  margin: 0 auto;
}

.scheme ul:before {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 3px / 2);
  top: calc(50% - 3px / 2);
  left: -webkit-calc(50% - 80% / 2);
  left: calc(50% - 80% / 2);
  width: 80%;
  height: 3px;
  background-color: #91bc33;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMjJiZjY1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmI4MDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, #22bf65), color-stop(1, #ffb800));
  background-image: -webkit-repeating-linear-gradient(left, #22bf65 0%, #ffb800 100%);
  background-image: repeating-linear-gradient(to right, #22bf65 0%, #ffb800 100%);
  background-image: -ms-repeating-linear-gradient(left, #22bf65 0%, #ffb800 100%);
}

.scheme ul li {
  position: relative;
  width: 90px;
  height: 90px;
  padding: 17px 0;
  display: inline-block;
  margin: 0 30px;
}

.scheme ul li:before {
  display: none;
}

.scheme .number {
  position: relative;
  font-size: 24px;
  margin: 0 auto;
  color: #22bf65;
  font-weight: bold;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  border: 3px solid #22bf65;
  padding: 11px;
  -webkit-box-shadow: 0px 0px 0px 5px white, 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px 5px white, 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.scheme .number.number_big {
  color: #2a2a2a;
  -webkit-box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 13px #22bf65;
          box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 13px #22bf65;
}

.scheme .number.number_big:after {
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
  width: 79px;
  height: 79px;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 5px white, 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px 5px white, 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.scheme .content {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 140px;
  padding: 10px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid #cecece;
  background-color: #FFF;
  top: 120px;
  left: -webkit-calc(50% - 255px / 2);
  left: calc(50% - 255px / 2);
}

.scheme .content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.scheme .content p {
  font-size: 13px;
  color: #aaaaaa;
  margin: 0;
  max-width: 240px;
}

.scheme .content:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 32px;
  background-color: #000;
  top: -32px;
}

.scheme .item_2 .content, .scheme .item_4 .content {
  top: -170px;
}

.scheme .item_2 .content:before, .scheme .item_4 .content:before {
  height: 42px;
  top: 139px;
}

.scheme .item_3 .content:before {
  height: 44px;
  top: -44px;
}

.scheme .item_5 .number {
  border-color: #ffb800;
}

.scheme .item_5 .number_big {
  -webkit-box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 13px #ffb800;
          box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 13px #ffb800;
}

/* testimonials section */
.testimonial_section {
  padding: 50px 0;
  min-height: 500px;
}

.testimonial_section h2 {
  text-align: center;
  font-size: 36px;
}

.testimonial_section .slick_slider_nav {
  margin: 50px auto 0;
  width: 200px;
}

.testimonial_section .slick_slider_nav .slider_item {
  min-height: 160px;
  text-align: center;
}

.testimonial_section .slick_slider_nav .slider_item img {
  height: 160px;
  width: 160px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.testimonial_section .slick_slider_nav .slick-next, .testimonial_section .slick_slider_nav .slick-prev {
  width: 12px;
  height: 20px;
  z-index: 1;
}

.testimonial_section .slick_slider_nav .slick-next:before, .testimonial_section .slick_slider_nav .slick-prev:before {
  color: transparent;
  width: 12px;
  height: 19px;
  display: block;
}

.testimonial_section .slick_slider_nav .slick-prev {
  left: -50px;
  top: 80px;
}

.testimonial_section .slick_slider_nav .slick-prev:before {
  background-image: url("../img/slider-arrows.png");
  background-position: 0 center;
}

.testimonial_section .slick_slider_nav .slick-next {
  right: -50px;
  top: 80px;
}

.testimonial_section .slick_slider_nav .slick-next:before {
  background-image: url("../img/slider-arrows.png");
  background-position: 12px center;
}

.testimonial_section .slider_content {
  text-align: center;
}

.testimonial_section .slider_content h3 {
  text-transform: uppercase;
  margin: 25px 0;
}

.testimonial_section .slider_content p {
  line-height: 1.5;
  color: #6e6e6e;
  font-size: 16px;
  max-width: 600px;
  margin: 10px auto 0;
}

/* map section */
.map_section {
  position: relative;
  min-height: 400px;
  background-color: #444;
}

.map_section .adress_block {
  position: absolute;
  width: 350px;
  height: 228px;
  padding: 30px 15px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  top: -webkit-calc(50% - 228px / 2);
  top: calc(50% - 228px / 2);
  left: 20%;
  z-index: 1;
}

.map_section .adress_block ul li {
  position: relative;
  padding: 10px 0 10px 50px;
}

.map_section .adress_block ul li:before {
  display: none;
}

.map_section .adress_block ul li h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #2a2a2a;
  font-size: 14px;
  margin-bottom: 5px;
}

.map_section .adress_block ul li a {
  color: #6d6d6d;
}

.map_section .adress_block ul li a:hover {
  color: #22bf65;
}

.map_section .adress_block ul li i {
  position: absolute;
  color: #22bf65;
}

.map_section .adress_block ul li:nth-of-type(1) i {
  left: 15px;
  top: 12px;
  font-size: 28px;
}

.map_section .adress_block ul li:nth-of-type(2) i {
  left: 16px;
  top: 13px;
  font-size: 34px;
}

.map_section .adress_block ul li:nth-of-type(3) i {
  left: 13px;
  top: 15px;
  font-size: 22px;
}

#map {
  height: 400px;
  width: 100%;
}

/* footer */
footer {
  padding: 35px 0;
  background-color: #2a2a2a;
}

footer .footer_top {
  margin-bottom: 10px;
}

footer .footer_top .footer_logo {
  font-size: 26px;
  color: #fff;
  letter-spacing: 5px;
}

footer .footer_top ul {
  text-align: right;
}

footer .footer_top ul li {
  margin: 0 20px;
  display: inline-block;
}

footer .footer_top ul li:before {
  display: none;
}

footer .footer_top ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

footer .footer_top ul li a:hover {
  color: #22bf65;
}

footer .footer_bottom ul {
  text-align: right;
  margin-right: 15px;
}

footer .footer_bottom ul li {
  margin: 0 5px;
  display: inline-block;
}

footer .footer_bottom ul li:before {
  display: none;
}

footer .footer_bottom ul li a i {
  color: #777;
  font-size: 18px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .footer_bottom ul li a:hover i {
  color: #22bf65;
}

/* Catalog page */
/* breadcrumb section */
.breadcrumb_section {
  border-bottom: 1px solid #f4f4f4;
}

.breadcrumb_section .breadcrumb_wrap {
  padding: 0;
}

.breadcrumb_section .breadcrumb_wrap .breadcrumb {
  padding: 22px 0;
  margin: 0;
  background-color: transparent;
}

.breadcrumb_section .breadcrumb_wrap .breadcrumb li a {
  color: #aaa;
}

.breadcrumb_section .breadcrumb_wrap .breadcrumb li a:hover {
  color: #22bf65;
}

.breadcrumb_section .breadcrumb_wrap .breadcrumb li.active {
  color: #22bf65;
}

.breadcrumb_section .breadcrumb_wrap .breadcrumb li + li:before {
  content: '-';
  color: #aaa;
}

/* filter */
.filter_item {
  margin-bottom: 25px;
  border: 1px solid #f4f4f4;
}

.filter_item .item_header h3 {
  color: #333;
  text-transform: uppercase;
  padding: 14px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.filter_item .item_content {
  padding: 25px 20px;
}

.filter_item input, .filter_item label {
  margin: 0;
}

.filter_item label {
  color: #333;
  font-weight: 400;
}

.filter_item select {
  outline: none;
  width: 100%;
  padding: 10px 30px 10px 15px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #333;
  font-weight: 500;
}

.filter_item i {
  color: #aaa;
}

.filter_block {
  padding: 0;
}

.filter_block .categories_block {
  border-top: none;
  padding: 0;
}

.filter_block .categories_block ul li {
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.filter_block .categories_block ul li:last-of-type {
  border-bottom: none;
}

.filter_block .categories_block ul li:before {
  display: none;
}

.filter_block .categories_block ul li a {
  position: relative;
  display: block;
  color: #333;
  font-weight: bold;
  background-color: #FFF;
  text-transform: uppercase;
  padding: 14px 20px;
}

.filter_block .categories_block ul li a:hover {
  color: #fff;
  background-color: #22bf65;
}

.filter_block .categories_block ul li a:hover i {
  color: #fff;
}

.filter_block .categories_block ul li a i {
  position: absolute;
  content: '';
  right: 20px;
  top: -webkit-calc(50% - 25px / 2);
  top: calc(50% - 25px / 2);
  width: 25px;
  height: 25px;
  padding: 5px 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #aaa;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.filter_block .manufacturer_block .input_item {
  margin: 15px 0;
}

.filter_block .manufacturer_block .input_item:first-of-type {
  margin-top: 0;
}

.filter_block .manufacturer_block .input_item:last-of-type {
  margin-bottom: 0;
}

.filter_block .manufacturer_block .input_item input[type="checkbox"] {
  display: none;
}

.filter_block .manufacturer_block .input_item input[type="checkbox"] + label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.filter_block .manufacturer_block .input_item input[type="checkbox"] + label:before {
  content: '';
  cursor: pointer;
  position: absolute;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url("../img/checkbox-sprite.png");
}

.filter_block .manufacturer_block .input_item input[type="checkbox"]:checked + label:before {
  background-position: center 10px;
}

.filter_block .mark_block {
  margin-bottom: 0;
  border-bottom: none;
}

.content_block {
  padding: 0;
}

.content_block .catalog_form_wrap h3, .content_block x:-moz-any-link {
  line-height: 1.4;
}

.content_block .catalog_form_wrap {
  position: relative;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.content_block .catalog_form_wrap:after {
  content: '';
  position: absolute;
  width: 420px;
  height: 1px;
  background-color: #f4f4f4;
  right: -400px;
  bottom: -1px;
}

.content_block .catalog_form_wrap h3 {
  color: #666;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 11px;
}

.content_block .catalog_form_wrap .main_form {
  width: 100%;
  margin: 0 auto;
}

.content_block .catalog_form_wrap .main_form .name, .content_block .catalog_form_wrap .main_form .phone, .content_block .catalog_form_wrap .main_form .button_wrap {
  margin: 0 10px;
  display: inline-block;
  width: -webkit-calc(92% / 3);
  width: calc(92% / 3);
  vertical-align: middle;
}

.content_block .catalog_form_wrap .main_form .name input, .content_block .catalog_form_wrap .main_form .phone input, .content_block .catalog_form_wrap .main_form .button_wrap input {
  width: 100%;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid;
  height: 50px;
}

.content_block .catalog_form_wrap .main_form .name, .content_block .catalog_form_wrap .main_form .phone {
  position: relative;
}

.content_block .catalog_form_wrap .main_form .name i, .content_block .catalog_form_wrap .main_form .phone i {
  color: #aaa;
}

.content_block .catalog_form_wrap .main_form .name input, .content_block .catalog_form_wrap .main_form .phone input {
  border-color: #aaa;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px 10px 64px;
}

.content_block .catalog_form_wrap .main_form .name input::-webkit-input-placeholder, .content_block .catalog_form_wrap .main_form .phone input::-webkit-input-placeholder {
  color: #aaa;
}

.content_block .catalog_form_wrap .main_form .name input::-moz-placeholder, .content_block .catalog_form_wrap .main_form .phone input::-moz-placeholder {
  color: #aaa;
}

.content_block .catalog_form_wrap .main_form .name input:-moz-placeholder, .content_block .catalog_form_wrap .main_form .phone input:-moz-placeholder {
  color: #aaa;
}

.content_block .catalog_form_wrap .main_form .name input:-ms-input-placeholder, .content_block .catalog_form_wrap .main_form .phone input:-ms-input-placeholder {
  color: #aaa;
}

.content_block .catalog_form_wrap .main_form .name:hover input, .content_block .catalog_form_wrap .main_form .phone:hover input {
  border-color: #ffb800;
}

.content_block .catalog_form_wrap .main_form .name:hover i, .content_block .catalog_form_wrap .main_form .phone:hover i {
  color: #ffb800;
}

.content_block .catalog_form_wrap .main_form .name input:focus, .content_block .catalog_form_wrap .main_form .name input:active, .content_block .catalog_form_wrap .main_form .phone input:focus, .content_block .catalog_form_wrap .main_form .phone input:active {
  border-color: #ffb800;
  background-color: rgba(255, 255, 255, 0.2);
}

.content_block .catalog_form_wrap .main_form .button_wrap input {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 50px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  text-transform: uppercase;
  margin: 0 auto;
}

.content_block .catalog_form_wrap .main_form .button_wrap input:hover, .content_block .catalog_form_wrap .main_form .button_wrap input:focus, .content_block .catalog_form_wrap .main_form .button_wrap input:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

.content_block .catalog_form_wrap .main_form i {
  position: absolute;
  font-size: 26px;
  top: -webkit-calc(50% - 13px);
  top: calc(50% - 13px);
  left: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content_block .catalog_form_wrap .main_form .phone i {
  top: -webkit-calc(50% - 11px);
  top: calc(50% - 11px);
}

.content_block .filter_results_block {
  padding: 25px 0 25px 70px;
}

.content_block .filter_results_block .title h3 {
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.content_block .filter_results_block .title .found_result {
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.content_block .filter_results_block .title .found_result span {
  color: #22bf65;
}

.content_block .filter_results_block .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0 0;
}

.content_block .filter_results_block .content .content_item {
  position: relative;
  padding: 15px;
  margin: 0 10px 80px 10px;
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  min-height: 320px;
  min-width: 236px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content_block .filter_results_block .content .content_item:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
}

.content_block .filter_results_block .content .content_item img {
  width: 204px;
  height: 129px;
  margin: 30px auto 50px;
}

.content_block .filter_results_block .content .content_item .item_descr h4 {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.content_block .filter_results_block .content .content_item .item_descr .price {
  display: inline-block;
  text-align: center;
  width: 49%;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.content_block .filter_results_block .content .content_item .item_descr .availability {
  display: inline-block;
  text-align: center;
  width: 49%;
  color: #22bf65;
}

.content_block .filter_results_block .content .content_item a {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 45px;
  width: 210px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  position: absolute;
  bottom: -22px;
  left: -webkit-calc(50% - 210px / 2);
  left: calc(50% - 210px / 2);
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 0;
}

.content_block .filter_results_block .content .content_item a:hover, .content_block .filter_results_block .content .content_item a:focus, .content_block .filter_results_block .content .content_item a:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

/* product page */
.product_section .item_block {
  min-height: 490px;
  border-bottom: 1px solid #f4f4f4;
}

.product_section .item_block .item_title .content {
  width: 87%;
  margin: auto;
}

.product_section .item_block .item_title .content .title {
  padding-bottom: 20px;
  padding-top: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.product_section .item_block .item_title .content .title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.product_section .item_block .item_title .content .title p {
  font-size: 12px;
  color: #aaa;
  text-transform: uppercase;
}

.product_section .item_block .item_title .content .price_block {
  position: relative;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.product_section .item_block .item_title .content .price_block p {
  color: #aaa;
  font-size: 12px;
}

.product_section .item_block .item_title .content .price_block .item_price {
  font-size: 48px;
  font-weight: bold;
  color: #22bf65;
}

.product_section .item_block .item_title .content .price_block a {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 50px;
  width: 190px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  position: absolute;
  top: -webkit-calc(50% - 18px);
  top: calc(50% - 18px);
  right: 0;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px 0;
}

.product_section .item_block .item_title .content .price_block a:hover, .product_section .item_block .item_title .content .price_block a:focus, .product_section .item_block .item_title .content .price_block a:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

.product_section .item_block .item_title .content .call_block p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 25px;
}

.product_section .item_block .item_title .content .call_block a {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  color: #2a2a2a;
  font-weight: 500;
}

.product_section .item_block .item_title .content .call_block a span {
  color: #ffb800;
}

.product_section .item_block .accordion_wrap {
  min-height: 490px;
  padding-top: 20px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.product_section .item_block .accordion_wrap .panel {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
  border: none;
}

.product_section .item_block .accordion_wrap .panel .panel-heading {
  padding: 0;
  border: none;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a {
  position: relative;
  padding: 15px;
  display: block;
  font-size: 18px;
  color: #2a2a2a;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a:after {
  content: '';
  position: absolute;
  left: -36px;
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #f4f4f4;
  background-color: #FFF;
  background-image: url("../img/product-sprite.png");
  background-repeat: no-repeat;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed {
  color: #858585;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed i {
  color: #22bf65;
  border-color: #22bf65;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed[aria-controls="collapseOne"]:after {
  background-position: 2px 0;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed[aria-controls="collapseTwo"]:after {
  background-position: -30px 0;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed[aria-controls="collapseThree"]:after {
  background-position: -66px 0;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a.collapsed[aria-controls="collapseFour"]:after {
  background-position: -106px -2px;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a i {
  position: absolute;
  right: 0;
  top: -webkit-calc(50% - 13px);
  top: calc(50% - 13px);
  color: #ffb800;
  font-size: 13px;
  padding: 4px 5px;
  width: 26px;
  height: 26px;
  border: 2px solid #ffb800;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a[aria-controls="collapseOne"]:after {
  background-position: 2px -41px;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a[aria-controls="collapseTwo"]:after {
  background-position: -30px -41px;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a[aria-controls="collapseThree"]:after {
  background-position: -66px -42px;
}

.product_section .item_block .accordion_wrap .panel .panel-heading a[aria-controls="collapseFour"]:after {
  background-position: -106px -42px;
}

.product_section .descr_block {
  border-bottom: 1px solid #f4f4f4;
}

.product_section .descr_block .item_description {
  margin-top: 50px;
}

.product_section .descr_block .item_description .content {
  max-width: 640px;
  margin: 0 auto;
}

.product_section .descr_block .item_description .content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.product_section .descr_block .item_description .content p {
  padding: 8px 0;
}

.product_section .descr_block .table_info_wrap {
  padding: 30px 0;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  min-height: 350px;
}

.product_section .descr_block .table_info_wrap .table_info {
  width: 100%;
}

.product_section .descr_block .table_info_wrap .table_info tr:nth-of-type(2n) td {
  padding: 17px 10px;
  background-color: #fff;
}

.product_section .descr_block .table_info_wrap .table_info td {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  background-color: #f4f4f4;
}

.product_section .descr_block .table_info_wrap .table_info td:first-of-type {
  width: 60%;
}

.product_section .descr_block .table_info_wrap .table_info td:last-of-type {
  width: 40%;
}

.item_img_slider {
  padding-top: 30px;
}

.item_img_slider .main_image {
  background-color: #f5f5f5;
  padding: 70px 0;
  margin: 0 30px;
}

.item_img_slider .main_image img {
  display: block;
  margin: auto;
  max-width: 288px;
  max-height: 180px;
}

.item_img_slider .small_images {
  text-align: center;
  margin: 20px 0 0;
}

.item_img_slider .small_images img {
  margin: 0 10px;
  width: 67px;
  height: 67px;
}

/* product page slider */
.product_page_slider_section {
  padding: 70px 0;
}

.product_page_slider .slick-next, .product_page_slider .slick-prev {
  top: 45%;
  width: 19px;
  height: 35px;
}

.product_page_slider .slick-next:before, .product_page_slider .slick-prev:before {
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  color: transparent;
  opacity: 1;
  height: 35px;
  background-image: url("../img/product-slider-arrows.png");
}

.product_page_slider .slick-next:hover:before, .product_page_slider .slick-next:focus:before, .product_page_slider .slick-prev:hover:before, .product_page_slider .slick-prev:focus:before {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.product_page_slider .slick-next:before {
  background-position: 19px 0;
}

.product_page_slider .slick-ptev:before {
  background-position: 19px 0;
}

.product_page_slider .content_item {
  position: relative;
  padding: 15px;
  margin: 0 10px 40px 10px;
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  min-height: 320px;
  min-width: 236px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_page_slider .content_item:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
}

.product_page_slider .content_item img {
  display: block;
  width: 204px;
  height: 129px;
  margin: 30px auto 50px;
}

.product_page_slider .content_item .item_descr h4 {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.product_page_slider .content_item .item_descr .price {
  display: inline-block;
  text-align: center;
  width: 49%;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.product_page_slider .content_item .item_descr .availability {
  display: inline-block;
  text-align: center;
  width: 49%;
  color: #22bf65;
}

.product_page_slider .content_item a {
  display: block;
  border: 1px solid #eb8b00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #814d03;
  height: 45px;
  width: 210px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(70, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 70%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 70%);
  position: absolute;
  bottom: -22px;
  left: -webkit-calc(50% - 210px / 2);
  left: calc(50% - 210px / 2);
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 0;
}

.product_page_slider .content_item a:hover, .product_page_slider .content_item a:focus, .product_page_slider .content_item a:active {
  color: #9a5c04;
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, white), color-stop(100, #ffb800));
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, white 0%, #ffb800 100%);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
  background-image: radial-gradient(ellipse farthest-corner at center bottom, white 0%, #ffb800 100%);
}

/* typical page */
.typical_page_section .container {
  border-left: 1px solid #f4f4f4;
}

.typical_page_section .side_block ul {
  padding: 10px;
}

.typical_page_section .side_block ul li {
  padding: 20px 0 15px;
}

.typical_page_section .side_block ul li:before {
  display: none;
}

.typical_page_section .side_block ul li a {
  font-size: 18px;
  color: #6d6d6d;
  font-weight: normal;
  padding: 20px 20px 15px 0;
  border-bottom: 1px solid #dfdfdf;
}

.typical_page_section .side_block ul li a:hover, .typical_page_section .side_block ul li a.active {
  color: #22bf65;
  border-color: #22bf65;
}

.typical_page_section .content_block {
  border-left: 1px solid #f4f4f4;
  min-height: 500px;
  padding: 40px 60px;
}

.typical_page_section .content_block h2 {
  font-size: 24px;
  margin-bottom: 35px;
}

.typical_page_section .content_block p {
  margin: 20px 0;
}
