/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .call_wrap {
    display: block;
    width: 90%;
    padding: 11px 0;
  }
  .call_wrap a {
    display: inline-block;
  }
  .call_wrap p {
    max-width: 135px;
    display: inline-block;
  }
  .search_examples li {
    margin: 0 2px;
  }
  .search_examples li a {
    font-size: 12px;
  }
  .advantages_section .advantages_item .content {
    margin: 40px 0 0;
  }
  .counter_section {
    height: auto;
  }
  .map_section .adress_block {
    left: 10%;
  }
  .content_block .catalog_form_wrap .main_form .name, .content_block .catalog_form_wrap .main_form .phone, .content_block .catalog_form_wrap .main_form .button_wrap {
    width: -webkit-calc(90% / 3);
    width: calc(90% / 3);
  }
  .product_section .item_block .item_title .content .price_block a {
    width: 160px;
  }
  .typical_page_section .side_block ul {
    padding: 0;
  }
  .typical_page_section .side_block ul li {
    padding: 0;
  }
  .typical_page_section .side_block ul li a {
    padding: 20px 0 15px 0;
    display: block;
  }
  .typical_page_section .content_block {
    padding: 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo {
    margin: 53px 0;
  }
  .logo h1 {
    font-size: 27px;
  }
  .logo p {
    font-size: 9px;
  }
  .search_wrap {
    margin: 37px 0;
  }
  .search_block {
    width: 100%;
  }
  .search_examples li {
    margin: 0;
  }
  .tel_wrap a {
    font-size: 25px;
    padding: 23px 0;
  }
  .call_wrap {
    padding: 5px 0;
  }
  .call_wrap p {
    max-width: 100%;
    padding: 0;
    text-align: center;
  }
  .call_button {
    width: 100%;
  }
  .slide_section {
    height: auto;
    padding: 50px 0;
  }
  .slide_section .main_form {
    width: 70%;
  }
  .slide_section .main_form .name, .slide_section .main_form .phone, .slide_section .main_form .button_wrap {
    width: 100%;
    display: block;
    margin: 20px 0;
  }
  .slide_section .main_form .name input, .slide_section .main_form .phone input, .slide_section .main_form .button_wrap input {
    width: 100%;
  }
  .advantages_section .advantages_item .content {
    margin: 30px 0 0;
  }
  .scheme_section {
    height: auto;
  }
  .scheme_section .scheme {
    margin: 0;
  }
  .scheme_section .scheme ul:before {
    width: 3px;
    height: 80%;
    top: -webkit-calc(50% - 80% / 2);
    top: calc(50% - 80% / 2);
    left: 73px;
    background-color: #91bc33;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmViODAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmI4MDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAwMjk5OTk5OTk5OTk5OTk3MTQiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjJiZjY1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4wMDMiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZiODAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #feb800), color-stop(0.003, #ffb800), color-stop(0.003, #22bf65), color-stop(1, #ffb800));
    background-image: -webkit-repeating-linear-gradient(top, #22bf65 0.3%, #ffb800 100%);
    background-image: repeating-linear-gradient(to bottom, #22bf65 0.3%, #ffb800 100%);
    background-image: -ms-repeating-linear-gradient(top, #22bf65 0.3%, #ffb800 100%);
  }
  .scheme_section .scheme ul li {
    margin: 20px 30px;
    display: block;
  }
  .scheme_section .scheme ul li .content {
    height: auto;
    max-height: 80px;
    top: -webkit-calc(50% - 40px);
    top: calc(50% - 40px);
    left: 200px;
  }
  .scheme_section .scheme ul li .content:before {
    width: 30px;
    height: 1px;
    top: -webkit-calc(50% - 1px / 2);
    top: calc(50% - 1px / 2);
    left: -75px;
    background-color: #22bf65;
  }
  .content_block .catalog_form_wrap {
    padding: 28px 0 28px 20px;
  }
  .content_block .catalog_form_wrap .main_form .name, .content_block .catalog_form_wrap .main_form .phone, .content_block .catalog_form_wrap .main_form .button_wrap {
    margin: 0 5px;
  }
  .content_block .filter_results_block {
    padding: 25px;
  }
  .filter_item select {
    padding: 10px 0 10px 5px;
  }
  .content_block .catalog_form_wrap h3, .content_block x:-moz-any-link {
    line-height: 1.5;
  }
  .item_img_slider {
    padding: 30px 0;
  }
  .item_img_slider .small_images img {
    margin: 0 5px;
  }
  .product_section .item_block .item_title .content {
    width: 90%;
  }
  .product_section .item_block .item_title .content .price_block a {
    position: static;
    margin: 10px 0 0;
    width: 100%;
  }
  .product_section .item_block .item_title .content .call_block a {
    font-size: 20px;
  }
  .product_section .item_block .accordion_wrap {
    min-height: 520px;
  }
  .product_section .descr_block .table_info_wrap {
    min-height: 380px;
  }
  .product_section .descr_block .table_info_wrap .table_info td:first-of-type {
    width: 30%;
  }
  .product_section .descr_block .table_info_wrap .table_info td:last-of-type {
    width: 70%;
  }
  .product_section .item_block .accordion_wrap .panel .panel-heading a {
    padding: 15px 30px;
    font-size: 14px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
  }
  .header_nav nav ul {
    height: auto;
  }
  .search_block,
  .contacts_wrap .content_block {
    display: none;
  }
  .search_block form {
    position: relative;
  }
  .search_block.active {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 60px;
    background-color: #eee;
    padding: 15px;
  }
  .search_block ul li a {
    font-size: 14px;
    vertical-align: middle;
  }
  .search_examples li::before {
    font-size: 15px;
  }
  .content_block.active {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #eee;
  }
  .search_wrap {
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    text-align: center;
  }
  .search_wrap i {
    color: #22bf65;
    height: 60px;
    font-size: 28px;
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
  }
  .tel_wrap a {
    font-size: 30px;
    padding: 20px 0;
  }
  .call_wrap {
    padding: 10px 0;
  }
  .logo_wrap {
    text-align: left;
    height: 60px;
  }
  .logo_wrap a {
    margin: 8px 0;
  }
  .contacts_wrap {
    height: auto;
    padding: 0;
    position: relative;
    text-align: center;
  }
  .contacts_wrap i {
    color: #22bf65;
    height: 60px;
    font-size: 28px;
    cursor: pointer;
    width: 100%;
    padding: 17px 0;
  }
  .header_nav {
    height: 60px;
  }
  .header_nav nav {
    position: fixed;
    width: 100%;
    display: none;
    top: 60px;
    background-color: #666;
    z-index: 999;
  }
  .header_nav nav ul li {
    display: block;
  }
  .header_nav nav ul li a {
    text-align: center;
  }
  .header_nav nav ul li a:hover, .header_nav nav ul li a.active {
    background-image: none;
  }
  .header_nav nav.active {
    display: block;
  }
  .mobile_menu_button {
    display: block;
    height: 60px;
    padding: 0;
    cursor: pointer;
    padding: 28px 0;
  }
  .mobile_menu_button span {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 4px;
    background-color: #22bf65;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile_menu_button span:before, .mobile_menu_button span:after {
    position: absolute;
    background-color: #22bf65;
    content: '';
    width: 24px;
    height: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile_menu_button span:before {
    top: -8px;
  }
  .mobile_menu_button span:after {
    top: 8px;
  }
  .mobile_menu_button.active span {
    background-color: transparent;
  }
  .mobile_menu_button.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
        -ms-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  .mobile_menu_button.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
        -ms-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
  .advantages_section .advantages_item {
    border: none;
    height: auto;
  }
  .advantages_section .advantages_item .content {
    height: 53px;
    margin: 30px auto;
    max-width: 410px;
  }
  .advantages_section .advantages_item .content h3 {
    padding-top: 7px;
  }
  .services_section {
    padding: 40px 0;
  }
  .services_section .services_item {
    margin: 0 auto 25px;
  }
  .services_section .services_item a {
    bottom: 15px;
  }
  .map_section .adress_block {
    width: 100%;
    max-width: 280px;
    left: -webkit-calc(50% - 280px / 2);
    left: calc(50% - 280px / 2);
  }
  footer {
    padding: 20px 0;
  }
  footer .footer_top ul li {
    margin: 0 10px;
  }
  .breadcrumb_section .breadcrumb_wrap {
    padding: 0 15px;
  }
  .filter_block .categories_block ul li a {
    text-align: center;
  }
  .filter_item {
    text-align: center;
  }
  .content_block {
    padding: 0 15px;
  }
  .content_block .catalog_form_wrap {
    padding: 0 0 30px 0;
  }
  .content_block .catalog_form_wrap h3 {
    padding: 0;
    text-align: center;
  }
  .content_block .catalog_form_wrap:after {
    display: none;
  }
  .content_block .catalog_form_wrap .main_form .name, .content_block .catalog_form_wrap .main_form .phone, .content_block .catalog_form_wrap .main_form .button_wrap {
    width: 100%;
    margin: 10px 0;
  }
  .content_block .filter_results_block .title {
    text-align: center;
  }
  .product_section .item_block .accordion_wrap {
    padding-top: 0;
    min-height: auto;
    border: none;
  }
  .product_section .item_block .accordion_wrap #accordion {
    max-width: 90%;
    margin: auto;
    text-align: center;
  }
  .product_section .item_block .accordion_wrap .panel .panel-heading a {
    padding: 15px 40px;
  }
  .product_section .item_block .accordion_wrap .panel .panel-heading a:after {
    left: 0;
  }
  .product_section .descr_block .item_description {
    margin-top: 20px;
  }
  .product_section .descr_block .item_description .content h3 {
    margin-bottom: 15px;
  }
  .product_section .descr_block .item_description .content p {
    text-align: justify;
  }
  .product_section .descr_block .table_info_wrap {
    min-height: auto;
  }
  .product_page_slider .slick-next, .product_page_slider .slick-prev {
    top: 105%;
  }
  .product_page_slider .slick-prev {
    left: 45px;
  }
  .product_page_slider .slick-next {
    right: 45px;
  }
  .typical_page_section .side_block {
    text-align: center;
    padding: 0;
  }
  .typical_page_section .content_block {
    padding: 30px 15px;
  }
  .typical_page_section .content_block p {
    text-align: justify;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 550px) {
  .scheme_section p {
    margin-bottom: 40px;
  }
  .scheme_section .scheme {
    max-width: 330px;
    margin: 0 auto;
  }
  .scheme_section .scheme ul:before {
    left: 45px;
  }
  .scheme_section .scheme ul li {
    margin: 20px 0;
  }
  .scheme_section .scheme ul li .content {
    left: 100px;
    max-width: 190px;
    max-height: inherit;
    display: block;
  }
  .scheme_section .scheme ul li .content:before {
    display: none;
  }
  .slide_section .main_form {
    width: 100%;
  }
  .product_section .item_img_slider, .product_section .item_title {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .logo_wrap {
    text-align: center;
    padding: 0 5px;
  }
  .logo_wrap a {
    margin: 10px 0;
  }
  .logo_wrap a h1 {
    font-size: 22px;
  }
  .slide_section h2 {
    font-size: 32px;
  }
  .slide_section .main_form .name input, .slide_section .main_form .phone input, .slide_section .main_form .button_wrap input {
    width: 100%;
  }
  .testimonial_section .slick_slider_nav .slick-prev {
    left: -20px;
  }
  .testimonial_section .slick_slider_nav .slick-next {
    right: -20px;
  }
  footer .footer_top .footer_logo {
    font-size: 15px;
  }
  footer .footer_top ul li {
    margin: 0 3px;
  }
  footer .footer_top ul li a {
    font-size: 10px;
  }
  .product_section .item_block .accordion_wrap #accordion {
    max-width: 98%;
  }
}

@media only screen and (max-width: 445px) {
  .logo h1 {
    margin-bottom: 0;
  }
  .advantages_section .advantages_item .content h3 {
    padding-top: 1px;
  }
  .scheme_section .scheme ul li {
    margin: 70px 0;
  }
  .scheme_section .scheme ul li .content {
    max-width: 155px;
  }
  .tel_wrap a {
    font-size: 26px;
    padding: 20px 0;
  }
}
