/* font-family: "AeroMatics"; */
@font-face {
    font-family: "Aero Matics";
    src: url("../fonts/AeroMatics/Aero Matics Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}