html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

html,
body{
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #1b1e21;
	font: normal 14px 'Montserrat', sans-serif;
}

img{
	width: 100%;
	height: auto;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

/* LOADER */

.loader{
	background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_inner {
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

/* NAV section*/

.navbar-brand {
    float: left;
    height: auto;
    padding: 12px 0;
    font-size: 0;
    line-height: 0;
}

.logo_small{
	display: none;
}

.navbar ul{
	list-style-type: none;
}

.navbar ul li a{
	text-align: center;
	font-size: 14px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 3px 8px;
	border-radius: 30px;
	margin: 50px 10px 50px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar ul li a:hover{
	background-color: #1354e0;
}

.navbar ul li.active a{
	background-color: #1354e0;
}

.navbar ul li a:focus{
	outline: 0;
	color: #fff;
	background-color: #1354e0;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 10px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #222328;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar ul li a.top-nav-collapse{
  	margin: 20px 10px 20px;
  }
}

/* Intro section */

.slider_item{
	display: flex !important;
	justify-content: center;
    align-content: center;
    align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 100vh;
	background-color: #222328;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.slider_item.item_1{
	background-image: url(../img/bg1.png);
}
.slider_item.item_2{
	background-image: url(../img/bg2.png);
}
.slider_item.item_3{
	background-image: url(../img/bg3.png);
}
.slider_item.item_4{
	background-image: url(../img/bg2.png);
}

.intro_slider{
	width: 100%;
	height: auto;
}

.intro_slider p{
	padding-top: 30px;
	display: block;
	margin: auto;
	max-width: 800px;
	letter-spacing: 1px;
}


.intro {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	color: white;
	background-color: #222328;
}

.intro .brand-heading {
  	font-size: 52px;
    color: #fff;
    font-weight: bold;
}
.intro .intro-text {
	font-family: "montserrat-light", sans-serif;
  	font-size: 16px;
    line-height: 1.8;
    text-align: center;
}
@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding: 0;
  }
}

.btn-circle_wrap{
	position: absolute;
	bottom: 100px;
	left: calc(50% - 35px / 2);
}

.btn-circle {
	width: 35px;
	height: 35px;
	margin-top: 15px;
	padding: 0;
	border: 2px solid white;
	border-radius: 100% !important;
	font-size: 24px;
	color: white;
	background: transparent;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.btn-circle:hover{
	outline: 0;
	color: white;
	background: rgba(19, 84, 224, 0.2);
}
.btn-circle:focus {
	outline: 0;
	color: white;
}
.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.navbar-custom .navbar-toggle {
    color: #fff;
    background-color: rgba(255,255,255,.2);
    font-size: 12px;
}

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse{
	max-height: inherit;
}



/* About section */

.about_section {
	padding: 80px 15px 100px;
}

.about_section h1{
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 35px;
}

.about_header p{
	font-family: "montserrat-light", sans-serif;
	font-size: 14px;
	line-height: 2;
	padding: 0 180px;
	word-wrap: break-word;
	margin-bottom: 45px;
}

.about_header p span{
	color: #1354e0;
}

.about_middle_block{
	border: 3px solid #dedede;
	padding: 0 70px;
	margin-bottom: 50px;
}

.about_middle_block h2{
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px;
}

.about_middle_block p{
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

.about_middle_block_item{
	position: relative;
	padding: 20px 50px 30px;

}

.about_bottom_block_item_content{
	max-width: 270px;
	margin: auto;
}

.about_middle_block_item::before{
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	width: 19px;
	height: 19px;
	border: 5px solid #1354e0;
}

.about_bottom_block{
	position: relative;
}

.about_bottom_block::before{
	content: '';
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #e5e6ea;
}

.about_bottom_block_item{
	padding: 0 20px;
	
}

.about_bottom_block h2{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 25px;
	margin-bottom: 15px;
	max-width: 300px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.about_bottom_block_item:hover h2{
	color: #1354e0;
}

.about_bottom_block p{
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	line-height: 1.8;
	max-width: 300px;
}

.about_bottom_block p span{
	font-weight: bold;
}

/* products_section */

.products_section{
	height: 980px;
	background-color: #1b1e21;
	color: #fff;
}

.products_tabs{
	padding: 90px 100px 0;
}

.products_tabs ul{
	text-align: center;
}

.products_tabs ul li{
	margin: 0 10px;
	float: none;
	display: inline-block;
}

.products_tabs ul li a{
	padding: 5px 15px;
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	border: 2px solid transparent;
	border-radius: 30px;
	line-height: 1;
	text-align: left;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.products_tabs ul li a:hover{
	background-color: transparent;
	border-color: #1354e0;
}

.products_tabs .nav-tabs>li.active>a, 
.products_tabs .nav-tabs>li.active>a:focus, 
.products_tabs .nav-tabs>li.active>a:hover{
	color: #fff;
	background-color: #1354e0;
	border: 2px solid #1354e0;
}

.products_tabs .nav-tabs{
	border: none;
}

.products_tabs .tab-pane{
	padding: 75px 65px;
	max-width: 700px;
	margin: auto;
}

.products_tabs .tab-pane .tab-pane_header h2{
	font-size: 42px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
}

.products_tabs .tab-pane .tab-pane_header p{
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(168, 172, 185);
	line-height: 2;
	text-align: left;
	padding: 40px 0 65px;
	max-width: 600px;
}

.products_tabs .tab-pane_content_item span{
	display: block;
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.667;
	padding-top: 16px;
	margin-left: 60px;
	max-width: 155px;
}

.products_tabs .tab-pane_content_item .span_2{
	padding-top: 6px;
}

.products_tabs .tab-pane_content_item{
	position: relative;
	margin-bottom: 40px;
}

.products_tabs .tab-pane_content_item::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 51px;
	height: 51px;
	border: 2px solid #494b4d;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.products_tabs .tab-pane_content_item:hover:before{
	background-color: #1354e0;
	border-color: #1354e0;
}

.products_tabs .tab-pane_content_item.item_1::before{
	background-image: url(../img/1.png);
}
.products_tabs .tab-pane_content_item.item_2::before{
	background-image: url(../img/3.png);
}
.products_tabs .tab-pane_content_item.item_3::before{
	background-image: url(../img/2.png);
}
.products_tabs .tab-pane_content_item.item_4::before{
	background-image: url(../img/4.png);
}
.products_tabs .tab-pane_content_item.item_5::before{
	background-image: url(../img/5.png);
}
.products_tabs .tab-pane_content_item.item_6::before{
	background-image: url(../img/6.png);
}
.products_tabs .tab-pane_content_item.item_7::before{
	background-image: url(../img/7.png);
}
.products_tabs .tab-pane_content_item.item_8::before{
	background-image: url(../img/8.png);
}
.products_tabs .tab-pane_content_item.item_9::before{
	background-image: url(../img/9.png);
}
.products_tabs .tab-pane_content_item.item_10::before{
	background-image: url(../img/11.png);
}
.products_tabs .tab-pane_content_item.item_11::before{
	background-image: url(../img/10.png);
}
.products_tabs .tab-pane_content_item.item_12::before{
	background-image: url(../img/12.png);
}
.products_tabs .tab-pane_content_item.item_13::before{
	background-image: url(../img/13.png);
}
.products_tabs .tab-pane_content_item.item_14::before{
	background-image: url(../img/14.png);
}
.products_tabs .tab-pane_content_item.item_15::before{
	background-image: url(../img/15.png);
}
.products_tabs .tab-pane_content_item.item_16::before{
	background-image: url(../img/16.png);
}
.products_tabs .tab-pane_content_item.item_17::before{
	background-image: url(../img/17.png);
}
.products_tabs .tab-pane_content_item.item_18::before{
	background-image: url(../img/19.png);
}
.products_tabs .tab-pane_content_item.item_19::before{
	background-image: url(../img/18.png);
}
.products_tabs .tab-pane_content_item.item_20::before{
	background-image: url(../img/20.png);
}
.products_tabs .tab-pane_content_item.item_21::before{
	background-image: url(../img/21.png);
}


.products_photos_wrap{
	height: 980px;
	padding: 0;
	background-color: #74a0fe;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.products_photos_wrap.photo_1,
.products_photos_wrap.photo_2,
.products_photos_wrap.photo_3{
	display: none;
}
.products_photos_wrap.photo_1{
	display: block;
	background-image: url(../img/Image_1.png);
}
.products_photos_wrap.photo_2{
	background-image: url(../img/Image_2.png);
}
.products_photos_wrap.photo_3{
	background-image: url(../img/Image_3.png);
}

/* subscribe_section */

.subscribe_section{
	background-color: #1354e0;
	padding: 90px 15px 80px;
}

.subscribe_section h1 {
	font-size: 42px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	max-width: 850px;
	margin-bottom: 20px;
	margin: auto;
}

.subscribe_section p{
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.75;
  max-width: 850px;
  margin: auto;
}

/* Markt */

.markt_section{
	padding: 90px 15px 70px;
}

.markt_section h1,
.partners_section h1{
	font-size: 42px;
	font-family: "Montserrat";
	color: rgb(27, 30, 33);
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 30px;
}

.markt_section p{
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(27, 30, 33);
	line-height: 1.75;
}

.markt_section_header{
	margin-bottom: 50px;
}

.markt_icon{
	position: relative;
	width: 72px;
	height: 72px;
	border: 3px solid #bfbeb6;
	border-radius: 50%;
	margin: auto;
}

.markt_icon img{
	position: absolute;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.markt_icon_wrap.item_1 .markt_icon img{
	width: 89px;
	height: 89px;
	top: -26px;
	left: -10px;
}
.markt_icon_wrap.item_2 .markt_icon img{
	width: 77px;
	height: 88px;
	top: -18px;
	left: -5px;
}
.markt_icon_wrap.item_3 .markt_icon img{
	width: 88px;
	height: 59px;
	top: 3px;
	left: -10px;
}
.markt_icon_wrap.item_4 .markt_icon img{
	width: 40px;
	height: 88px;
	top: -11px;
	left: 13px;
}
.markt_icon_wrap.item_5 .markt_icon img{
	width: 75px;
	height: 75px;
	top: -13px;
	left: -4px;
}
.markt_icon_wrap.item_6 .markt_icon img{
	width: 88px;
	height: 88px;
	top: -10px;
	left: -10px;
}

.markt_icon_wrap{
	margin-bottom: 30px;
}

.markt_icon_wrap:hover .markt_icon img{
	-webkit-animation: scaleX 0.3s;
	-o-animation: scaleX 0.3s;
	animation: scaleX 0.3s;
}

@keyframes scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
  	transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.markt_icon_wrap:hover p{
	color: #1354e0;
}

.markt_icon_wrap p{
	margin-top: 20px;
	font-size: 16px;
	font-family: "Lato";
	color: rgb(27, 30, 33);
	line-height: 1.251;
	font-weight: 900;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* partners */

.partners_section{
	padding-bottom: 130px;
}

.partners_photos_wrap a{
	display: inline-block;
	margin: 30px 24px;
}

.partners_photos_wrap a img{
	opacity: 0.6;
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.partners_photos_wrap a img:hover{
	opacity: 1;
	-webkit-filter: none;
	-o-filter: none;
	filter: none;
}

.partners_photos_wrap a.item_1 img{
	width: 237px;
	height: 61px;
}
.partners_photos_wrap a.item_2 img{
	width: 170px;
	height: 44px;
}
.partners_photos_wrap a.item_3 img{
	width: 83px;
	height: 68px;
}
.partners_photos_wrap a.item_4 img{
	width: 166px;
	height: 83px;
}
.partners_photos_wrap a.item_5 img{
	width: 223px;
	height: 82px;
}
.partners_photos_wrap a.item_6 img{
	width: 187px;
	height: 51px;
}
.partners_photos_wrap a.item_7 img{
	width: 305px;
	height: 58px;
}
.partners_photos_wrap a.item_8 img{
	max-width: 328px;
	height: 62px;
}

/* contacts */

.contacts_section{
	padding: 70px 0 50px;
	background-color: #222325;
	background-image: url(../img/Background_contacts.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.contacts_section_header h1{
	font-size: 42px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 25px;
}

.contacts_section_header p{
	font-size: 16px;
	font-family: "montserrat-light", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.75;
	padding: 0 150px 60px;
	margin-bottom: 40px;
	border-bottom: 2px solid #47494a;
}



.contacts_data_item a{
	position: relative;
	display: block;
	font-size: 16px;
	margin: auto;
	font-family: "montserrat-light", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.75;
}

.contacts_data_item.item_tel a{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 212px;
}

.contacts_data_item.item_addr a{
	text-align: left;
	width: 270px;
}

.contacts_data_item.item_email a{
	width: 155px;
}

.contacts_data_item.item_tel a:first-of-type::before{
	content: '';
	position: absolute;
	top: 4px;
	left: -35px;
	width: 17px;
	height: 18px;
	background-image: url(../img/telephone.png);
}

.contacts_data_item.item_addr a:before{
	content: '';
	position: absolute;
	top: 5px;
	left: -35px;
	width: 13px;
	height: 18px;
	background-image: url(../img/pin.png);
}

.contacts_data_item.item_email a:before{
	content: '';
	position: absolute;
	top: 8px;
	left: -35px;
	width: 18px;
	height: 12px;
	background-image: url(../img/messege.png);
}

/* map */

#map{
	height: 500px;
}

/* navbar animation fix */
.navbar ul li a{
	visibility: visible !important;
}

/* Scroll up */

#scrollUp {
	position: relative;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    border: 3px solid transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#scrollUp::after{
	content: '';
	position: absolute;
	background-image: url(../img/top2.png);
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: cover;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 1px;
}

#scrollUp:hover{
	border-color: #515151;
}

#scrollUp:hover::after{
	-webkit-animation: translateY 1s infinite;
	-o-animation: translateY 1s infinite;
	animation: translateY 1s infinite;
}

@keyframes translateY {
  0% {
    transform: translateY(0);
  }
  50% {
  	transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}


