/* Large Devices, Wide Screens */
@media only screen and (max-width: 1287px) {
  header .header-nav .main-item {
    padding: 0 20px;
  }
  header .header-nav .sub-container .sub-list {
    max-width: 970px;
  }
  .side-bg-fade {
    width: 220px;
  }
}

@media only screen and (max-width: 1100px) {
  header .apply_block {
    display: none;
  }
  .menu_container .nav_header .apply_block {
    display: block;
    margin: 0;
    max-width: 230px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .body-inner .container {
    width: initial;
  }
  header .logo_wrap .logo h1 {
    font-size: 16px;
  }
  header .header-nav .main-item {
    padding: 0 10px;
  }
  .services-slider-nav .item a {
    padding: 10px;
  }
  .services-slider-content .item-content {
    padding: 0 0 25px;
  }
  .services-slider-content .item-content h1 {
    padding: 0 25px;
  }
  .services-slider-content .flex-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .services-slider-content .flex-wrap .form {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin-bottom: 25px;
  }
  .services-slider-content .flex-wrap .description {
    margin-right: 0;
  }
  .card-block {
    overflow: hidden;
  }
  .articles-section-outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles-section-outer .articles-section-inner, .articles-section-outer .articles-section-sidebar {
    width: 100%;
  }
  .articles-section-outer .articles-section-inner {
    margin-bottom: 20px;
  }
  .sidebar-news-wrapper .sidebar-news-container {
    padding: 20px 20%;
  }
  .articles-section-outer .articles-section-sidebar {
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
  }
  .articles-section-outer .articles-section-sidebar .sidebar-header {
    padding: 0 25px 22px;
  }
}

@media only screen and (max-width: 840px) {
  header .phone_block h3 {
    font-size: 20px;
  }
  header .apply_block {
    margin: 0 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .logo_wrap {
    z-index: 111;
    padding: 0;
  }
  header .logo_wrap .logo h1 {
    font-size: 24px;
  }
  header .logo_wrap .logo p {
    line-height: 1.2;
  }
  header .phone_block {
    display: none;
  }
  header .phone_block p {
    font-size: 10px;
  }
  header .apply_block {
    min-width: 170px;
    padding: 7px 10px;
  }
  header .menu_button_wrap .menu-btn {
    width: 60px;
    height: 60px;
  }
  header .nav_bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: -webkit-calc(100% - 17px);
    width: calc(100% - 17px);
    background-color: #1B2126;
    z-index: 101;
  }
  .menu_container .nav_header {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    min-width: 100%;
    margin: 50px 0;
  }
  .menu_container .nav_header .phone_block {
    display: block;
  }
  .menu_container .nav_footer.in-active {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .card-block {
    border-left: 0;
    border-right: 0;
  }
  .card-block.is-open .times {
    display: block;
  }
  .services-slider-content .flex-wrap .form {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
    border-left: 0;
    border-right: 0;
  }
  .services-slider-content .flex-wrap .form form {
    max-width: 400px;
    margin: 0 auto;
  }
  .container > .row > .col-xs-12 {
    padding: 0;
  }
  .menu_container {
    display: block;
  }
  .menu_container .block_mobile {
    display: block;
  }
  .menu_container .nav_header {
    margin-top: 70px;
  }
  .menu_container .block_mobile {
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu_container .phone_block {
    text-align: center;
    display: none;
    padding: 0;
  }
  .menu_container .phone_block i {
    display: none;
  }
  .menu_container .apply_block {
    width: 320px;
    margin: 20px auto 0;
    padding: 10px;
  }
  .menu_container .nav_content {
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_container .nav_content .about-nav {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu_container .nav_content .header-nav {
    width: 100%;
    display: block;
    margin-bottom: 100px;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .menu_container .nav_content .header-nav.slide-on {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .menu_container .nav_content .header-nav li {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-40px, 0);
        -ms-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
    display: block;
    text-align: center;
    margin: 0;
  }
  .menu_container .nav_content .header-nav li:hover {
    background-color: transparent;
  }
  .menu_container .nav_content .header-nav .main-item {
    display: block;
  }
  .menu_container .nav_content .header-nav .main-item i {
    font-size: 16px;
    top: -webkit-calc(50% - 16px / 2);
    top: calc(50% - 16px / 2);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 10px;
  }
  .menu_container .nav_content .header-nav .main-item:hover {
    color: #fff;
    color: #00a5e0;
  }
  .menu_container .nav_content .header-nav .main-item.in-active a.main-item-a {
    z-index: 10;
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
    background-color: #00a5e0;
  }
  .menu_container .nav_content .header-nav .main-item.in-active a.main-item-a i {
    color: #fff;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .menu_container .nav_content .header-nav a {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    display: block;
    padding: 14px 0;
    color: #fff;
    font-size: 26px;
  }
  .menu_container .nav_content .header-nav a:hover, .menu_container .nav_content .header-nav a.active {
    color: #00a5e0;
  }
  .menu_container .nav_content .header-nav .sub-container {
    position: absolute;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    top: 0;
    background-color: #006d94;
    z-index: inherit;
  }
  .menu_container .nav_content .header-nav .sub-container .sub-list {
    padding-top: 0;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
  .menu_container .nav_content .header-nav .sub-container .sub-list .sub-list-item {
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
  }
  .menu_container .nav_content .header-nav .sub-container .sub-list .sub-list-item a {
    padding: 5px 0;
    font-size: 16px;
    margin: 5px auto;
  }
  .menu_container .nav_content .header-nav .sub-container .sub-list .sub-list-item p {
    text-align: justify;
    color: #fff;
  }
  .menu_container .nav_content .header-nav .sub-container .sub-list .sub-list-item h3 {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .menu_container .nav_content .header-nav .sub-container.in-active {
    display: block !important;
  }
  .menu_container .nav_footer {
    display: none;
    padding: 0;
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
    background-color: #1B2126;
  }
  .menu_container .nav_footer .social {
    float: none;
    text-align: center;
    margin: 5px 0 0;
  }
  .menu_container .nav_footer .sign_wrap {
    float: none;
    text-align: center;
  }
  .navigation__border {
    display: none;
  }
  .menu_container.active .nav_content .header-nav li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all .8s .4s;
    transition: all .8s .4s;
  }
  .menu_container.active .nav_content .header-nav li:nth-of-type(2) {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  .menu_container.active .nav_content .header-nav li:nth-of-type(3) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .menu_container.active .nav_content .header-nav li:nth-of-type(4) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .menu_container.active .nav_content .header-nav li:nth-of-type(5) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .menu_container.active .nav_content .header-nav li:nth-of-type(6) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .menu_container.active .nav_footer {
    display: block;
    bottom: auto;
  }
  .navigation__border:nth-child(4) {
    display: block;
    width: 100%;
    height: 12px;
    top: -15px;
  }
  .navigation__border:nth-child(2) {
    display: block;
    top: 375px;
    width: 100%;
    height: 12px;
  }
  html.mobile header .nav_bg, html.mobile header .nav_footer {
    width: 100%;
  }
  .side-bg-fade {
    width: 40px;
  }
  .services-slider-nav .item a {
    padding: 10px 40px;
    min-width: 320px;
    max-width: 400px;
  }
  .slider-button-default {
    z-index: 2;
    opacity: 1;
  }
  .sidebar-news-wrapper .sidebar-news-container {
    padding: 20px;
    text-align: center;
  }
  .links-section {
    display: none;
  }
  .catalog-section > .container > .row > div {
    padding: 0;
  }
  .article-section .article-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-section .article-body .content-side, .article-section .article-body .article-sidebar {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .article-section .article-body .content-side {
    text-align: justify;
  }
  .article-section .article-headline-container {
    bottom: 20px;
    padding: 0 15px;
  }
  .article-section .article-headline-container h1 {
    font-size: 34px;
    line-height: 1.2;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 650px) {
  header .contacts_block {
    float: none;
    width: 100%;
    text-align: center;
    margin-left: 60px;
  }
  .footer-top .flex-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-social-block p {
    margin: 10px 0;
  }
  .footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav ul li {
    text-align: center;
    margin: 5px 0;
  }
  .card-block .card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-block .card-btn {
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .card-block .card-btn-website {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
    margin: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .card-block .card-descr-wrap {
    margin: 0;
  }
  .card-block .card-descr-wrap h3 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
  .card-block .links-block {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .articles-container .article-preview {
    width: 100%;
    padding: 20px 0 0 0 !important;
  }
}

@media only screen and (max-width: 530px) {
  header .logo_wrap .logo h1 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  header .contacts_block {
    float: right;
    width: auto;
    text-align: center;
    margin-left: 0;
  }
  header .contacts_block .phone_block i {
    left: 10px;
  }
  header .contacts_block .phone_block h3 {
    font-size: 18px;
  }
  .menu_container .nav_content {
    min-width: 320px;
  }
  .menu_container .nav_header {
    width: 100%;
    padding: 0 15px;
  }
  .article-section .article-headline-container h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .menu_container .nav_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 120px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 70px 0 25px;
  }
}

@media only screen and (max-width: 430px) {
  .services-slider-nav .slider-button-default.slick-prev {
    left: 10px;
  }
  .services-slider-nav .slider-button-default.slick-next {
    right: 10px;
  }
}
