/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
	.slick-dots{
		right: 10%;
	}
}

@media only screen and (max-width : 1440px) {
	.products_tabs {
	    padding: 100px 10px 0;
	}
}

@media only screen and (max-width : 1200px) {
	.slick-dots{
		right: 2%;
	}
	.products_tabs ul li {
		margin: 0;
	}
	.products_tabs ul li a{
		font-size: 11px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.slick-dots{
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		bottom: 10px;
		right: calc(50% - 150px / 2);
	}
	.about_header p{
		padding: 0 15px;
	}
	.about_bottom_block_item{
		margin: 20px 0;
		padding: 10px 0;
	}
	.about_bottom_block_item_content{
		max-width: 100%;
		margin: 0;
	}
	.about_bottom_block h2,
	.about_bottom_block p{
		max-width: 100%;
		text-align: center;
	}
	.about_bottom_block::before{
		display: none;
	}
	.about_bottom_block_item:first-of-type{
		border-top: 2px solid #e5e6ea;
	}
	.about_bottom_block_item{
		border-bottom: 2px solid #e5e6ea;
	}
	.products_section{
		height: auto;
	}
	.contacts_data_item.item_addr a {
		padding-left: 0;
		text-align: center;
	}
	.contacts_data_item{
		margin-bottom: 25px;
	}
	.contacts_data_item.item_tel a,
	.contacts_data_item.item_email a{
		width: 270px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo{
		display: none !important;
	}
	.logo_small{
		display: block !important;
	}
	.intro .intro-body .brand-heading {
		font-size: 40px;
  	}
  	.intro .intro-body .intro-text {
    	font-size: 14px;
  	}
  	.btn-circle_wrap{
  		bottom: 40px;
  	}
  	.navbar{
  		background-color: #222328;
  		padding: 5px 0;
  	}
  	.navbar-brand{
  		padding: 5px 0 0 10px;
  	}
  	.navbar-collapse{
		border: none;
	}
	.intro_slider p {
		padding: 30px 15px 0;
	}
	.about_bottom_block_item_content{
		padding: 0 15px;
	}
	.about_section{
		padding-bottom: 40px;
	}
	.navbar-collapse.in {
    	overflow-y: initial;
	}
	.products_section{
		height: auto;
	}
	.products_tabs .tab-pane_content_item span{
		text-align: center;
		margin: 0;
		width: auto;
		max-width: inherit;
	}
	.products_tabs .tab-pane_content_item::before{
		top: -40px;
    	left: calc(50% - 51px / 2);
	}
	.products_tabs .tab-pane_content_item{
		margin-bottom: 80px;
	}
	.products_tabs .tab-pane_content_item .span_2{
		padding-top: 16px;
	}
	.products_tabs {
    	padding: 70px 0 0;
	}
	.products_tabs .tab-pane {
    	padding: 35px 15px;
    	max-width: 700px;
    	margin: auto;
	}
	.products_tabs .nav-tabs{
		padding: 0 15px;
	}
	.products_tabs ul li{
		margin-bottom: 10px;
	}
	.products_tabs ul li a{
		text-align: center;
	}
	.products_tabs .tab-pane .tab-pane_header h2,
	.products_tabs .tab-pane .tab-pane_header p{
		text-align: center;
	}
	.contacts_section_header p{
		padding: 0 15px 60px;
	}
	#map{
	height: 300px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.partners_photos_wrap a{
		display: block;
		margin: 40px 0;
	}
	.partners_section{
		padding-bottom: 30px;
	}
	.products_tabs ul li a{
		padding: 5px 9px;
	}
	.intro .brand-heading{
		font-size: 30px;
	}
	.about_middle_block{
		padding: 0;
	}
	.products_tabs .tab-pane .tab-pane_header h2{
		font-size: 30px;
	}
	.subscribe_section h1{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.contacts_data_item.item_tel a, 
	.contacts_data_item.item_email a,
	.contacts_data_item.item_addr a,
	.partners_photos_wrap a.item_7 img{
		width: 100%;
	}
	.contacts_data_item.item_addr a::before,
	.contacts_data_item.item_tel a:first-of-type::before,
	.contacts_data_item.item_email a::before{
		left: -5px;
	}
	#scrollUp{
		display: none;
	}
	.about_middle_block{
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-height : 480px) {
	.btn-circle_wrap{
		display: none;
	}
	.intro .brand-heading {
		font-size: 36px;
		color: #fff;
	}
	.intro .intro-text {
	  	font-size: 14px;
	    line-height: 1.5;
	}

}

@media only screen and (max-height : 680px) {
	.btn-circle_wrap{
		bottom: 50px;
	}
}