html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body{
	background-color: #fff;
	color: #2e2e2e;
	font: normal 15px 'Montserrat', sans-serif;
}

img{
	width: 100%;
	height: auto;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
    color: #7dd221;
}

form input:focus,
form select:focus,
form input:active,
form select:active{
    outline: none;
}

form input{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* LOADER */

.loader{
	background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_inner {
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

/* NAV header */

.main_nav{
    height: 130px;
    1background-color: #eee;
}

.logo{
    height: auto;
    padding: 34px 15px;
    text-align: center;
    text-transform: uppercase;
}

.logo h1{
    font-size: 36px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(21, 21, 21);
    line-height: 1.2;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
}

.logo span{
    color: #76cd00;
}

.logo p{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgb(180, 180, 180);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2px;
}

.main_nav .navbar-nav>li>a{
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #151515;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.main_nav .navbar-nav>li>a::after{
    opacity: 0;
    content: '';
    position: absolute;
    background: url("../img/border-small.png") no-repeat;
    width: 56px;
    height: 9px;
    bottom: 5px;
    left: calc(50% - 28px);
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.main_nav .navbar-nav>li>a:hover::after,
.main_nav .navbar-nav>li>a:focus::after{
    opacity: 1;
}

.main_nav .nav>li>a:hover,
.main_nav .nav>li>a:focus{
    color: #76cd00;
    background-color: transparent;
}

.main_nav .navbar-nav{
    padding: 39px 0;
}

/* Intro section*/

.intro{
    height: 650px;
    background: url("../img/pexels-photo.png");
    background-repeat: no-repeat;
}

.form_wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #2759be;
    height: 650px;
    float: right;
}

.steps{
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: #194c92;
    z-index: 1;
}

.steps h3{
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 20px 0 5px;
    text-transform: uppercase;
}
.steps p{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #76cd00;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.steps p::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: calc(50% - 5px);
    width: 10px;
    height: 17px;
    background-image: url("../img/arrow_down.png");
}

.steps span{
    color: #fff;
}

.steps_item{
    position: relative;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.4;
    color: #fff;
    background-color: #194c92;
    width: 64px;
    height: 64px;
    border: 3px solid #74c31d;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.steps_item:first-of-type{
    margin: 50px auto 130px;
}
.steps_item:last-of-type{
    margin: 130px auto 0px;
}

.steps::before{
    position: absolute;
    content: '';
    top: 160px;
    left: calc(50% - 2px);
    width: 4px;
    height: 390px;
    background-color: #5e82b3;
    z-index: -1;
}

.steps_item:hover,
.steps_item.active {
    background-color: #74c31d;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(124,208,32,0.17);
    -moz-box-shadow: 0px 0px 0px 10px rgba(124,208,32,0.17);
    box-shadow: 0px 0px 0px 10px rgba(124,208,32,0.17);
}

.steps_item.active::before, 
.steps_item.active::after{
    visibility: visible;
    opacity: 1;
}

.form{
    display: inline-block;
    width: 80%;
    height: 100%;
    background-image: url("../img/form-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.form h2{
    font-size: 41px;
    font-family: "montserrat-blcak";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.439;
    text-align: center;
    padding: 34px 5px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.form h2 span{
    position: relative;
    color: #75cd00;
}

.form h2 span::after{
    position: absolute;
    content: '';
    bottom: -27px;
    left: 0;
    width: 139px;
    height: 26px;
    background-image: url('../img/border.png');
}

.form form{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.form form p{
    position: relative;
    padding: 4px 0;
}
.form form p:nth-of-type(4){
    padding: 20px 0;
}

.form form label{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.form form input:focus,
.form form select:focus,
.form form input:active,
.form form select:active{
    outline: none;
}

.form form input{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form form input,
.form form select{
    width: 100%;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 10px;
}

.form form input[type="text"]:focus,
.form form input[type="text"]:hover{
    border-color: #75cd00;
}

.form form input[type="submit"]{
    position: relative;
    background-color: transparent;
    width: 375px;
    height: 110px;
    border: 0;
    margin-left: 3px;
    background-image: url(../img/button.png);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.dollar{
    position: relative;
}
.dollar::after{
    position: absolute;
    content: '';
    right: 34px;
    top: 36px;
    background-image: url(../img/dollar.png);
    width: 20px;
    height: 36px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button_wrap:hover::after{
    background-image: url(../img/dollar_hover.png);
    -webkit-animation: scale 2s infinite;
    -o-animation: scale 2s infinite;
    animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.button_wrap:hover input[type="submit"]{
    background-image: url(../img/button_hover.png);
}

.form h4{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding: 10px 15px;
}

.select2-container{
    width: 100% !important;
}

/* tabs section */

.tabs{
    padding: 60px 0;
    min-height: 500px;
}

.tabs_nav{
    max-width: 500px;
    list-style-type: none;
    margin-left: 100px;
}

.tabs_nav li{
    padding: 30px 0;
}

.tabs_nav li a{
    position: relative;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(41, 41, 42);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.tabs_nav li a i{
    position: absolute;
    top: 3px;
    left: -100px;
    width: 52px;
    height: 52px;
    background-image: url(../img/circle_plus.png);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.tabs_nav li a:hover,
.tabs_nav li.active a{
    color: #7dd221;
}

.tabs_nav li a:hover i{
    background-image: url(../img/circle_plus_hover.png);
}
.tabs_nav li.active a i{
    background-image: url(../img/circle_choose.png);
}
.tab-content{
    position: relative;
    padding: 30px 0 30px 30px;
    margin-left: 40px;
    border-left: 3px solid #68c500;
}

.tab-content::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: -14px;
    top: 40px;
    background-image: url(../img/controls_chevron.png);
}

.tab-content .tab-pane h2{
    font-size: 18px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(41, 41, 42);
    text-transform: uppercase;
    line-height: 1.2;
}

.tab-content .tab-pane p{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(88, 88, 89);
    line-height: 1.333;
    margin: 30px 0;
}

.content_button{
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    /*border: 2px solid #7dd221;*/
    border-radius: 10px;
    /*background-color: #7dd221;*/
    padding: 15px;
    width: 250px;

    background: rgba(163,232,84,1);
background: -moz-linear-gradient(-45deg, rgba(163,232,84,1) 0%, rgba(107,180,24,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(163,232,84,1)), color-stop(100%, rgba(107,180,24,1)));
background: -webkit-linear-gradient(-45deg, rgba(163,232,84,1) 0%, rgba(107,180,24,1) 100%);
background: -o-linear-gradient(-45deg, rgba(163,232,84,1) 0%, rgba(107,180,24,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(163,232,84,1) 0%, rgba(107,180,24,1) 100%);
background: linear-gradient(135deg, rgba(163,232,84,1) 0%, rgba(107,180,24,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3e854', endColorstr='#6bb418', GradientType=1 );


    -webkit-box-shadow: 6px 10px 48px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 48px -10px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 48px -10px rgba(0,0,0,0.75);

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.content_button:hover{
    color: #2464c8;
    -webkit-box-shadow: 0px 6px 48px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 48px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 48px -10px rgba(0,0,0,0.75);
}

/* features section */

.features{
    background-image: url(../img/money-image.png);
    background-repeat: no-repeat;
}

.features_wrap .transparent_block{
    height: 150px;
    background-color: transparent;
}

.features_wrap .content_block{
    background-color: #fff;
    text-align: center;

    -webkit-box-shadow: 0px 12px 50px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 12px 50px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 12px 50px 0px rgba(0,0,0,0.50);
}

.features_wrap .content_block .item_icon_wrap{
    width: 56px;
    height: 56px;
    margin: 60px auto;
}

.features_wrap .content_block .item_content h3{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(41, 41, 42);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.features_wrap .content_block .item_content p{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(41, 41, 42);
    font-weight: 400;
    line-height: 1.2;
}

.features_wrap .content_block .item_content p span{
    font-weight: bold;
}

.features .content_button{
    margin: 60px auto 10px;
}

.features .bottom_img{
    height: 52px;
    background-color: #fff;
    background-image: url(../img/bottomseals.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
}

.action{
    background-color: #216ed2;
    margin-bottom: 40px;
}

.action .content_block{
    min-height: 300px;
}

.white_stripe{
    background-color: #fff;
    height: 50px;
}

.white_stripe.stripe_2{
    height: 120px;
}

.content_block_text{
    margin: 96px 0;
}

.content_block_text h2{
    font-size: 50px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.08;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.content_block_text h2 span{
    color: #7dd221;
}

.right_block_wrap{
    position: relative;
}

.right_block{
    position: absolute;
    width: 565px;
    height: 488px;
    top: -70px;
    left: 0;
    z-index: 1;
    background-image: url(../img/action_block.png);
}

.right_block_content_wrap{
    position: relative;
}

.right_block_content{
    position: absolute;
    top: 90px;
    left: 150px;
}

.right_block_content h2{
    display: block;
    max-width: 350px;
    font-size: 50px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.08;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
}

.right_block_form input[type="number"]{
    padding: 18px 20px;
    border: 1px solid #fff;
    border-radius: 10px;

    -webkit-box-shadow: inset 2px 2px 10px -1px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 2px 2px 10px -1px rgba(0,0,0,0.46);
    box-shadow: inset 2px 2px 10px -1px rgba(0,0,0,0.46);
}

.submit_button_wrap{
    position: relative;
}

.submit_button_wrap input{
    position: absolute;
    top: -20px;
    left: -37px;
    background-color: #216ed2;
    border: none;
    border-radius: 10px;
    padding: 18px 46px;
    font-family: "montserrat-blcak", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.submit_button_wrap input:hover{
    color: #75c51e;
    left: -33px;
}

/* text section */

.text{
    margin-bottom: 50px;
}

.text .content_wrap{
    border-right: 2px solid #216ed2;
}

.text .content_wrap h2{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 30px;
    max-width: 730px;
}

.text .content_wrap p{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 46, 46);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 25px;
    max-width: 730px;
}

.text_accordion_wrap{
    padding-left: 50px;
}

.text_accordion_wrap h2{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 60px;
}

.accordion_item a{
    position: relative;
    display: block;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 46, 46);
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 0;
}

.accordion_item{
    border-bottom: 2px solid #d9d9d9;
}

.accordion_item_content{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(46, 46, 46);
    line-height: 2;
}

.accordion_item a i{
    position: absolute;
    right: 20px;
    top: calc(50% - 31px / 2);
    color: #a7a3a1;
    border: 2px solid #a7a3a1;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
} 

.accordion_item .fa-chevron-right:before{
    position: absolute;
    top: 6px;
    left: 8px;
}
.accordion_item .fa-chevron-down:before{
    position: absolute;
    top: 5px;
    left: 5px;
}

.accordion_item a[aria-expanded="true"] i{
    color: #216ed2;
    border-color: #216ed2;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* action banenr section */

.action_banner{
    background-color: #216ed2;
    min-height: 230px;
}

.action_banner h2{
    font-size: 50px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.08;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 88px 0;
}

.action_banner h2 span{
    color: #7dd221;
}

.big_button{
    display: block;
    position: relative;
    background-color: transparent;
    width: 375px;
    height: 110px;
    border: 0;
    margin-left: 3px;
    background-image: url(../img/button.png);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button_wrap_big{
    margin: 60px 0;
}

.big_button:hover{
    background-image: url(../img/button_hover.png);
}

.dollar2::after{
    position: absolute;
    content: '';
    right: 32px;
    top: 36px;
    background-image: url(../img/dollar.png);
    width: 20px;
    height: 36px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.big_button:hover::after{
    background-image: url(../img/dollar_hover.png);
    -webkit-animation: scale 2s infinite;
    -o-animation: scale 2s infinite;
    animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Spoiler section */

.spoiler{
    position: relative;
    min-height: 115px;
    background-color: #3a3a3a;
    color: #fff;
    padding: 30px 0 40px;
}


.spoiler p{
    display: block;
    margin: 0 auto;
    font-size: 11px;
    font-family: "montserrat-light", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-bottom: 10px;
}

.spoiler p span{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.show_more_button{
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80px;
    font-size: 8px;
    font-family: "montserrat-light", sans-serif;
    color: rgba(255, 255, 255, 0.502);
    text-transform: uppercase;
    padding: 5px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.show_more_button i{
    font-size: 26px;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 13px);
}

.spoiler ul{
    list-style-type: none;
}

.collapse_button_wrap{
    position: absolute;
    bottom: -40px;
    left: calc(50% - 40px);
}

.collapse_button{
    opacity: 0;
    visibility: hidden;
    font-size: 10px;
    font-family: "montserrat-light", sans-serif;
    color: rgba(255, 255, 255, 0.502);
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: block;
    width: 80px;
    padding: 5px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.collapse_button i{
    font-size: 16px;
    position: absolute;
    top: -11px;
    left: calc(50% - 8px);
}

.collapse_button.active{
    visibility: visible;
    opacity: 1;
}

.spoiler_collapse_content ul li{
    text-align: center;
    margin: 5px 0;
}

.spoiler_collapse_content ul li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
}

.spoiler_collapse_content ul li a:hover{
    color: #7dd221;
}

/* State section */

.state{
    background-color: #2a2a2a;
    padding: 30px 0 60px;
}

.state h2{
    text-align: center;
    font-size: 36px;
    font-family: "montserrat-blcak", sans-serif;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}

.state ul li{
    display: inline-block;
    width: 300px;
}

.state ul li a{
    font-size: 16px;
    font-family: "montserrat-light", sans-serif;
    color: rgb(151, 151, 151);
    line-height: 1.625;
}

.state ul li a:hover,
.state ul li a:focus{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #7dd221;
    text-decoration: underline;
}

/* Disclaimer section */

.disclaimer{
    background-color: #1c1c1c;
    padding: 60px 0 20px;
}

.disclaimer p{
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #909090;
  font-weight: 400;
  line-height: 2.6;
  margin-bottom: 20px;
}

.disclaimer p span{
    font-weight: bold;
    color: #fff;
}






