html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body{
	background-color: #293140;
	color: #000;
    min-width: 320px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

img{
	width: 100%;
	height: auto;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

form input:focus,
form select:focus,
form input:active,
form select:active{
    outline: none;
}

form input{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul{
    list-style-type: none;
}

/* main content */

.body-inner{
    max-width: 1920px;
    height: 100vh;
    background-color: #293140;
    padding: 40px 0 20px 80px;
    display: flex;
}

.main-block{
    background-color: #fff;
    flex-grow: 1;
    position: relative;
}

.right-side-block{
    min-width: 4px;
}

.buttons-block{
    position: absolute;
    right: 0;
    top: -27px;
}

.buttons-block ul{
    display: flex;
}

.buttons-block .btn{
    display: block;
    width: 15px;
    height: 15px;
    background-color: #69707f;
    margin: 0 2.5px;
    transition: all 0.3s;
}
.buttons-block .btn:hover{
    background-color: #9298A4;
}
.buttons-block li:first-child .btn{
    margin-left: 0;
}
.buttons-block li:last-child .btn{
    margin-right: 0;
}

.content-block{
    display: flex;
    height: 100%;
}
.content-block .block-item.users-block{
    min-width: 80px;
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 0.3s;
}
.content-block .block-item.center-block{
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #f0f0f0;
    min-width: 720px;
    flex-grow: 1;
    margin-left: 240px;
}
.content-block .block-item.right-block{
    min-width: 300px;
    width: 74%;
}
.content-block .block-item .item-content{
    height: calc(100% - 60px);
    overflow: auto;
}
.content-block .block-item .item-content .content-inner{
    padding: 15px;
}
.content-block .block-item.users-block .item-header,
.content-block .block-item.users-block .item-footer{
    transition: all 0s;
}
.content-block .block-item.users-block .item-content{
    overflow: hidden;
}
.content-block .block-item .item-header,
.content-block .block-item .item-footer{
    height: 30px;
    background-color: #f7f8fa;
}

.users-block .wrap{
    height: calc(100% - 60px);
    overflow-y: scroll;
    width: calc(100% + 17px);
}
.user{
    height: 60px;
    border-bottom: 1px solid;
    border-color: #F9F9F9;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-content{
    position: relative;
}
.user-img-wrap{
    position: absolute;
    border-radius: 50%;
    background-color: #b1b1b1;
    width: 38px;
    height: 38px;
    left: -51px;
    top: calc(50% - 38px / 2);
    transition: all 0.3s;
}
.user-name{
    font-size: 14px;
    transition: all 0.3s;
}

/* IE10+ CSS  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .content-block .block-item.center-block{
        /* max-width: 996px; */
    }
    .content-block .block-item.right-block{
        /* max-width: 600px; */
    }
    .main-block{
        width: 100%;
    }
}
@media (max-width : 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active){

}
