@media only screen and (max-width : 1520px) {
	.content-block .block-item.users-block{
		width: 80px;
		border-right: 1px solid #f0f0f0;
	}
	.content-block .block-item.users-block:hover{
		width: 240px;
	}
	.content-block .block-item.users-block .user-img-wrap{
		left: -20px;
	}
	.content-block .block-item.users-block .user-name{
		font-size: 0;
	}
	.content-block .block-item.users-block:hover .user-img-wrap{
		left: -51px;
	}
	.content-block .block-item.users-block:hover .user-name{
		font-size: 14px;
	}
	.content-block .block-item.center-block{
		margin-left: 80px;
		border-left: 0;
	}

}

@media only screen and (max-width : 1185px) {
	.content-block .block-item.right-block{
		display: none;
	}
	.content-block .block-item.center-block{
		border: 0;
	}
}
@media only screen and (max-width : 900px){
	.content-block .block-item.center-block{
		min-width: auto;
	}
}
