/* Large Devices, Wide Screens */
@media only screen and (max-width: 1260px) {
  .frontpage-catalog-section .item .item-title {
    font-size: 26px;
  }
  .frontpage-catalog-section .item .item-inner .item-title {
    max-width: 240px;
  }
  .frontpage-catalog-section .item .item-inner .item-title::after {
    top: 20px;
    width: 90px;
  }
  .frontpage-catalog-section .item .item-hover-content {
    padding: 10px;
  }
  .frontpage-catalog-section .item .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .frontpage-catalog-section .item .btns a:first-of-type {
    margin: 0 0 5px 0;
  }
  .frontpage-catalog-section .item .item-hover-content p {
    font-size: 11px;
    margin: 10px 0;
  }
  .about-section .section-content.text-content p {
    max-width: 100%;
  }
  .about-section .top-content, .about-section .bot-content {
    margin-bottom: 23%;
  }
  .frontpage-about-slider .slider-item img {
    max-width: 217px;
  }
  .personal-card-preview .item-title {
    font-size: 20px;
  }
  .personal-card-preview .item-hover-content .additional-part {
    padding: 0 10px 0 0;
  }
  .personal-card-preview .item-hover-content.on-show .main-part {
    padding: 0 0 0 10px;
  }
  .personal-card-preview .item-hover-content {
    padding: 10px 20px;
  }
  .personal-card-preview .item-hover-content .persona-position {
    margin-bottom: 3px;
  }
  .personal-card-preview .item-hover-content .main-part {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .front-page-slider .item-content .item-title {
    font-size: 38px;
    line-height: 1.2;
  }
  .frontpage-catalog-section .item .item-inner .item-title {
    max-width: 100%;
    display: block;
    padding: 0;
  }
  .frontpage-catalog-section .item .item-inner .item-title::after {
    top: 115%;
    left: 0;
    width: 100%;
  }
  .frontpage-catalog-section .item .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .frontpage-catalog-section .item .btns a {
    margin: 0 10px !important;
  }
  .frontpage-catalog-section .item .item-hover-content p {
    font-size: 12px;
  }
  .price-table .item-name, .price-table .item-value {
    font-size: 14px;
  }
  .advantages-section .inner {
    min-height: 180px;
  }
  .advantages-section .left-col .inner {
    display: block;
    text-align: center;
    padding: 20px 0 0;
  }
  .advantages-section .left-col p {
    max-width: 100%;
  }
  .frontpage-about-slider .slider-item img {
    max-width: 268px;
    margin: 0 auto;
  }
  .about-section .section-content {
    min-height: auto;
    padding-top: 30px;
  }
  .about-section .top-content, .about-section .bot-content {
    margin-bottom: 12%;
  }
  .frontpage-about-slider {
    margin-bottom: 30px !important;
  }
  .frontpage-about-slider .slick-dots {
    left: 0;
    bottom: -20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .frontpage-about-slider li button {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .frontpage-about-slider .slick-active button {
    background-color: black;
  }
  html:not(.mobile) .section-sidebar {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 40px;
    overflow: hidden;
  }
  html:not(.mobile) .section-sidebar .sidebar-list {
    visibility: hidden;
    opacity: 0;
    margin: 0 40px 0 0;
  }
  html:not(.mobile) .section-sidebar:hover {
    width: 225px;
    padding: 60px 214px 20px 0;
  }
  html:not(.mobile) .section-sidebar:hover .sidebar-list {
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
  }
  .personal-account-section .section-content-wrap {
    width: 100%;
  }
  .personal-card-preview {
    width: 100%;
  }
  .personal-card-preview .item-hover-content.on-show .additional-part {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .cta-section .inner h2 {
    font-size: 28px;
  }
  .section-title h2,
  .title-string {
    font-size: 24px !important;
  }
  .section-title h2::after,
  .title-string::after {
    left: 0 !important;
    top: 105% !important;
  }
  .contacts-list a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .logo {
    margin: 0 auto 20px;
  }
  .footer-top h3, .footer-worktime .flex-table .flex-col {
    text-align: center;
  }
  .socials {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials a {
    margin: 0 10px !important;
  }
  .personal-card-preview {
    height: auto;
    background-color: #f3f3f3;
  }
  .personal-card-preview:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .personal-card-preview:hover .item-hover-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .personal-card-preview .item-hover-content {
    position: static;
    margin: 0;
    width: 100%;
    height: auto;
    background: #f3f3f3;
  }
  .personal-card-preview .item-hover-content.on-show {
    width: 100%;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .personal-card-preview .item-hover-content.on-show > div {
    width: 100% !important;
  }
  .personal-card-preview .hover-bg {
    display: none;
  }
  .personal-card-preview .item-hover-content .additional-part {
    padding: 0;
    border: 0;
  }
  .personal-card-preview .btns {
    max-width: 200px;
    margin: 0 auto;
  }
  .personal-card-preview .item-hover-content .show-more-btn {
    display: none;
  }
  .personal-card-preview .item-hover-content .additional-part {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .personal-card-preview .item-hover-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .step-container .step p {
    font-size: 12px;
  }
  .step-container .step[data-step="1"] p {
    margin: -60px 0 0 30px;
  }
  .step-container .step[data-step="2"] p {
    margin: 60px 0 0 0;
  }
  .step-container .step[data-step="4"] p {
    margin: 60px 0 0 -87px;
  }
  .step-inner .tab-content,
  .master-preview-wrap,
  .checkout-form-controls {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .step-inner .flex-col,
  .master-preview {
    margin: 0 5px;
  }
  .checkout-form-controls .next-step,
  .checkout-form-controls .prev-step {
    margin: 0 10px;
  }
  .input-personal-data .flex-row {
    max-width: 100%;
  }
  .input-personal-data .input-wrap {
    display: block;
  }
  .input-personal-data .input-wrap input {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .step-container {
    margin: 80px 0 60px;
  }
  html.mobile .section-sidebar {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 40px;
    overflow: hidden;
  }
  html.mobile .section-sidebar .sidebar-list {
    visibility: hidden;
    opacity: 0;
    margin: 0 40px 0 0;
  }
  html.mobile .section-sidebar.active {
    width: 225px;
    padding: 60px 214px 20px 0;
  }
  html.mobile .section-sidebar.active .sidebar-list {
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
  }
  .acc-data-container {
    padding: 15px;
  }
  .acc-data-block:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

/* Extra Small Devices, Phones */
