
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body{
	background-color: #fff;
	color: #000;
	font: normal 14px 'Ubuntu', sans-serif;
}

img{
	width: 100%;
	height: auto;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

/* HEADER */

.header_top{
  height: 105px;
  border-bottom: 1px solid #ddd;
}

.header_top .logo_wrap img{
	display: block;
	padding-top: 4px;
	width: 175px;
	margin-left: 35px;
}

.header_top .logo_wrap span{
	font-size: 12px;
	font-family: "Aero Matics", sans-serif;
	color: rgb(0, 0, 0);
	font-weight: 500;
	margin-left: 58px;
}

.header_top .center_logo_wrap{
	text-align: center;
	height: 105px;
	background-image: url('../img/banner_fb.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.header_top .center_logo_wrap p{
	margin-top: 44px;
	background-color: #fff;
	color: #999995;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.header_top .center_logo_wrap p span:nth-of-type(1){
	color: #cbd224;
}
.header_top .center_logo_wrap p span:nth-of-type(2){
	color: #e41172;
}
.header_top .center_logo_wrap p span:nth-of-type(3){
	color: #68c0e8;
}

.head_sotial_wrap{
	text-align: right;
	margin-top: 37px;
}

.head_sotial_wrap i{
	text-align: center;
	color: #949494;
	width: 30px;
	height: 30px;
	border: 1px solid #949494;
	border-radius: 50%;
	padding-top: 7px;
	margin: 0 7px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.head_sotial_wrap a:nth-of-type(3){
	margin-right: 15px;
}
.head_sotial_wrap i:hover{
	border-color: #82dcfb;
}

/* HEADER NAV */

.header_nav{
	height: 80px;
	border-bottom: 1px solid #ddd;
}

.header_nav .main_nav{
	background-color: #fff;
	border: none;
	border-radius: 0;
	border-left: 1px solid #ddd;
	margin: 0;
	height: 56px;
	margin-top: 12px;
}

.main_nav ul li{
	display: inline-block;
	margin: 16px 5px;
}

.header_nav .main_nav ul li a{
	padding: 0 5px;
	margin: 0;
	font-size: 14px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid transparent;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;

}

.navbar-default .navbar-nav>li>a:focus,
.header_nav .main_nav ul li a:hover{
	color: #e5097f;
	border-color: #e5097f;
}

.nav_logo{
	text-align: center;
}

.nav_logo img{
	width: 264px;
	margin-top: 18px;
}

/* HEADER SLIDER */

.header_slider{
	position: relative;
	background-color: #e6e6e6;
}

.header_slick{
	height: auto;
}

.header_slick_item_wrap{
	width: 290px;
	height: 80px;
	margin: 20px 10px;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.header_slick_item_wrap img{
	display: inline-block;
	width: 80px;
	margin-right: 20px;
}
.header_slick_content_wrap{
	display: inline-block;
	width: 60%;
	vertical-align: top;
    margin-top: 13px;
}
.header_slick_content_wrap h3{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.header_slick_content_wrap p{
	font-size: 12px;
	font-family: "Georgia", sans-serif;
	font-style: italic;
	text-align: left;
}

.button_judges_wrap{
	position: absolute;
	top: calc(50% - 12px);
	left: 0;
	z-index: 1;
}

.button_judges_wrap a{
	display: block;
	font-size: 14px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #7e7e7e;
	border: 2px solid #7e7e7e;
	background-color: #e6e6e6;
	padding: 2px 5px;
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.button_judges_wrap a:hover{
	color: rgb(229, 9, 127);
	border-color: rgb(229, 9, 127);
}

.header_nav .navbar-collapse{
	position: relative;
	z-index: 1;
	padding: 0;
}

/* CONTENT SECTION */

.content{
	margin-top: 25px;
}

/* MAIN CONTENT */


/* RECENT ARTICLES SECTION */

.recent_articles_wrap{
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
}

.recent_articles_wrap h2{
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #5fc4e0;
}

.button_main{
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background-color: #00b7f7;
	border: 2px solid #00b7f7;
	padding: 12px 43px;
	margin-top: 25px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.button_main:hover,
.button_main:active{
	color: #00b7f7;
	background-color: transparent;
}

.recent_articles_content_wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.recent_articles_content_item{
	border: 1px solid #ddd;
	padding: 20px;
	max-width: 425px;
	margin-bottom: 20px;
}

.recent_articles_content_item:nth-of-type(odd){
	margin-right: 10px;
}

.recent_articles_content_item:nth-of-type(even){
	margin-left: 10px;
}

.recent_articles_content_item h3{
	font-weight: bold;
	font-size: 16px;
}

.recent_articles_content_item p{
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #3d3d3d;
}

.recent_articles_data_wrap i{
	color: rgb(119, 119, 119);
	margin-right: 5px;
}

.recent_articles_data_wrap span{
	font-size: 11px;
	color: rgb(119, 119, 119);
	font-weight: bold;
}

.recent_articles_name{
	position: relative;
	margin-right: 35px;
}

.recent_articles_name::after{
	content: '';
	background-image: url(../img/ru.gif);
	width: 16px;
	height: 11px;
	background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -21px;
    top: 0px;
}		

/* NEWS */

.news_wrap{
    padding: 20px;
}

.news_wrap h2 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #5fc4e0;
}

.news_content_wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}

.news_content_item_wrap{
	width: 32%;
	display: inline-block;
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.img_wrap{
	position: relative;

}



.news_content_item_wrap .img_wrap::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97.5%;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.33);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.news_content_item_wrap:hover .news_content_item_data_wrap a{
	opacity: 1;
}

.news_content_item_wrap:hover .img_wrap::after{
	opacity: 0;
}

.news_content_text_wrap{
	margin: 15px;
}

.news_content_item_wrap h3{
	font-size: 14px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	padding-bottom: 15px;
}

.news_content_item_wrap p{
	font-size: 14px;
	font-family: "Georgia", sans-serif;
	color: rgb(119, 119, 119);	
}

.news_content_item_data_wrap {
	font-size: 12px;
	font-family: 'Ubuntu';
	font-weight: bold;
	color: rgb(119, 119, 119);
	border-top: 1px solid #ddd;
	margin: 0 15px;
	padding: 10px 0;
}

.news_content_item_data_wrap a{
	opacity: 0;
	text-transform: uppercase;
	color: #000;
	float: right;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.news_content_item_data_wrap a:hover{
	color: #00b7f7;
}

/* about_journalism_wrap */

.about_journalism_wrap{
	margin-bottom: 40px;
}

.about_journalism_wrap h2 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e5097f;
}

.about_journalism_content_wrap{
	padding: 0 25px;
}

.about_journalism_content_wrap p{
	font-size: 14px;
	color: rgb(0, 0, 0);
	font-weight: 500;
	line-height: 2;
	text-align: left;
}

.about_journalism_content_wrap span{
	color: #e5097f;
	font-weight: bold;
}

/* GALLERY SECTION */

.gallery_wrap{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #35363a;
}

.gallery_item::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(90deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
	background: -webkit-linear-gradient(90deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.gallery_item{
	position: relative;
	min-height: 300px;
	background-image: url('../img/панорамная вверхняя фотка.png');
	background-position: center center;
	background-size: cover;
}

.gallery_item_content p{
	padding-top: 190px;
	margin: auto;
	text-align: center;
	max-width: 500px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.5;
}

.gallery .slick-prev, 
.gallery .slick-next{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.gallery .slick-prev{
	left: 25px;
	background-image: url('../lib/slick/arrows (left-white).png');
	background-position: 12px;
	background-size: 15px;
	background-repeat: no-repeat;
	z-index: 222;
}

.gallery .slick-next{
	right: 25px;
	background-image: url('../lib/slick/arrows (right-white).png');
	background-position: 14px;
	background-size: 15px;
	background-repeat: no-repeat;
	z-index: 222;
}

.slide-count-wrap{
	position: absolute;
	bottom: 20px;
	left: calc(50% - 53px / 2);
	display: block;
	margin: auto;
	width: 53px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid #fff;
	padding: 3px 4px;
	margin-top: 10px;
	z-index: 2;
}

/* PARTNERS */

.partners_wrap{
	background-color: #fff;
	padding: 20px 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.partners_wrap h2{
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 2px solid #e5097f;
}

.partners_section_content{
	margin-top: 30px;
	text-align: center;
}

.partners_section_content_item{
	width: 200px;
	height: 90px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.partners_section_content_item img{
	opacity: .6;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.partners_section_content_item img:hover {
    opacity: 1;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.partners_section_content_item.item_1 img{
	width: 90%;
	margin-top: 12px;
}

.partners_section_content_item.item_2 img{
	width: 74%;
	margin-top: 12px;
}

.partners_section_content_item.item_3 img{
    width: 44%;
    margin-top: 10px;
}

.partners_section_content_item.item_4 img{
    width: 66%;
    margin-top: 13px;
}

.partners_section_content_item.item_5 img{
    width: 47%;
    margin-top: 23px;
    margin-bottom: 10px;
}
.partners_section_content_item.item_6 img{
    width: 34%;
    margin-top: 13px;
}
.partners_section_content_item.item_7 img{
    width: 39%;
    margin-top: 13px;
}

.partners_section_content_item.item_8 img{
    width: 34%;
    margin-top: 13px;
}

/* SIDEBAR */

/* banners */

.banners_wrap{
	margin-bottom: 30px;
}

.quote{
	text-align: center;
	min-height: 266px;
	padding: 25px;
}

.quote i{
	font-size: 28px;
	color: #a7abc2;
}

.quote1{
	background-image: url('../img/social-media-word-icon-aqua.png');
	background-color: #41c4dc;
}

.quote2{
	background-image: url('../img/social-media-word-icon-grey.png');
	background-color: #848798;
}

.quote1 h3 {
	position: relative;
	font-size: 24px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	font-style: italic;
	line-height: 1.5;
	margin: 35px 0;
}

.quote1 h3::before{
	content: '\201C';
	font-family: "Georgia";
	font-size: 72px;
	font-weight: bold;
	color: #7eebff;
	font-style: normal;
	position: absolute;
	top: -65px;
	left: calc(50% - 19px);
}

.quote2 h3{
	font-size: 20px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.8;
	margin: 15px 0;
}

.quote2 p{
	font-size: 14px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	margin-bottom: 15px;
}

.quote a{
	display: inline-block;
	font-size: 12px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 30px;
	border: 2px solid;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.quote1 a{
	background-color: #316e7a;
	border-color: #316e7a;
}

.quote2 a{
	background-color: #41c4dc;
	border-color: #41c4dc;
}

.quote a:hover{
	background-color: transparent;
}

/* popularity */

.popularity{
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}

.popularity h2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ced606;
}

.popularity a{
	display: block;
	text-align: center;
	font-size: 14px;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000;
	padding: 8px 0;
	border: 2px solid #000;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.popularity a:hover{
	color: rgb(0, 0, 0);
	background-color: transparent;

}

.popularity_content_item{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

.popularity_content_item h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
}

.popularity_content_item p {
	font-family: 'Georgia', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: #666666;
}

.popularity_content_item_data_name{
	position: relative;
	font-size: 12px;
	font-weight: 500;
}

.popularity_content_item_data_name::after{
	content: '';
	position: absolute;
	right: -21px;
	top: 2px;
	width: 16px;
	height: 11px;
}

.popularity_content_item.item_1 .popularity_content_item_data_name::after{
	background-image: url('../img/hu.gif');
}
.popularity_content_item.item_2 .popularity_content_item_data_name::after{
	background-image: url('../img/pl.gif');
}
.popularity_content_item.item_3 .popularity_content_item_data_name::after{
	background-image: url('../img/us.gif');
}
.popularity_content_item.item_4 .popularity_content_item_data_name::after{
	background-image: url('../img/ua.gif');
}

.popularity_content_item_data_wrap i{
	float: right;
	color: #707070;
	margin-top: 3px;
}

.popularity_content_item_data_wrap i span{
	color: #000;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin-left: 6px;
}

/* analytics */

.analytics{
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}

.analytics h2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ced606;
}

.analytics img{
	display: inline-block;
	width: 105px;
}

.analytics_content_item {
	display: block;
	margin: 20px 0;
}

.analytics_content_item:last-child {
	margin-bottom: 0;
}

.analytics_content_item h3{
	font-size: 12px;
	font-weight: bold;
	line-height: 1.417;
	text-align: left;
	padding-bottom: 5px;
	color: #000;
}

.analytics_content_item_data {
	display: block;
	font-size: 12px;
	font-family: "Georgia";
	color: rgb(119, 119, 119);
}

.content_wrap{
	display: inline-block;
	width: 55%;
	padding-left: 5px;
	vertical-align: top;
}

/* archive */

.archive{
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}

.archive h2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ced606;
}

.archive_content_item{
	display: block;
	cursor: pointer;
	margin: 20px 0;
}

.archive_content_item:last-child{
	margin-bottom: 0;
}

.archive_content_item span{
	display: inline-block;
	background-color: #ddd;
	color: #000;
	padding: 3px 6px;
	margin-right: 10px;
	font-weight: bold;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.archive_content_item span:hover{
	background-color: #00b7f7;
	color: #fff;
}

.archive_content_item p{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	letter-spacing: 1.5px;
}

/* NEWS HTML */

.news_section{

}

.news_section_header{
	padding: 60px 40px 50px;
	background-image: url('../img/charles v abdication.png');
	background-repeat: no-repeat;
	background-size: center center;
	max-height: 229px;
}

.news_section_header h1{
	font-size: 24px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.542;
	text-align: left;
	max-width: 740px;
	padding-bottom: 10px;
}

.news_section_header p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 3.429;
	text-align: left;
	width: 74%;
	border-top: 1px solid #ddd;
}

.news_section_content{
	padding: 40px 0;
}

.news_section_content h3 {
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	font-style: italic;
	line-height: 1.333;
	text-align: left;
	margin: 0 145px 25px;
	padding: 10px 20px;
	border-left: 4px solid #5ec4dc;
}

.news_section_content p{
	font-size: 14px;
	font-family: "Georgia";
	color: rgb(50, 50, 50);
	line-height: 1.5;
	margin: 0 170px;
	padding: 15px 0;
}

 .news_section_content p:nth-of-type(2){
	font-weight: bold;
}

.news_section_content ol{
	text-align: center;
	border-left: 2px solid #5ec4dc;
	margin: 0 214px 30px;
    padding: 0 30px;
}

.news_section_content ol li{
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	color: rgb(50, 50, 50);
	font-weight: 500;
	line-height: 1.5;
	margin: 12px 0;
}

.news_section_img_wrap{
	text-align: center;
	margin: 45px 0;
}

.news_section_img_wrap img{
	display: block;
	max-width: 700px;
	margin: auto;
}

.news_section_img_wrap span {
	display: block;
	font-size: 14px;
	font-family: "Georgia", sans-serif;
	color: rgb(170, 170, 170);
	font-style: italic;
	line-height: 1.2;
	margin: 44px 0;
}


.news_section_img_wrap p{
	font-size: 14px;
	font-family: "Georgia", sans-serif;
	color: rgb(119, 119, 119);
	line-height: 1.5;
	text-align: left;
	padding: 0;
}

/* RULES HTML */

.rules h2{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ced606;
}

.rules{
	background-color: white;
	margin: 20px 0 30px;
}

.accordion{
	list-style-type: none;
	margin: 0 20px; 
}

.accordion h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
	cursor: pointer;
	border-top: 1px solid #ddd;
	padding-top: 15px;
	width: 75%;
}

.accordion h3[aria-expanded="true"] i{
	color: #c9d011;
}

.accordion h3[aria-expanded="true"] i{
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.accordion h3 i{
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.accordion li div p{
	padding: 10px 0 10px 20px;
	font-size: 14px;
	font-weight: 400;
	font-family: "Georgia", sans-serif;
	color: rgb(34, 34, 34);
	line-height: 1.5;
}

.accordion li{
	position: relative;
	margin: 15px 0;
}

.accordion li:first-child{
	margin-top: 0;
}

.accordion li:first-child h3{
	border: none;
}

.accordion li:last-child h3{
	padding-bottom: 15px;
}

.accordion li:last-child::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 75%;
	background-color: #ddd;
}

/* SUBMIT HTML */

.submit_article{
	background-color: #fff;
	padding: 20px 0;
	margin-bottom: 30px;
}

.submit_article h2{
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 16px;
	margin-bottom: 40px;
	border-bottom: 2px solid #e5097f;
}

.submit_article_content h3{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.submit_article_content p{
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.email_wrap{
	position: relative;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #e5097f;
}

.email_wrap:after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #e5097f;
	-webkit-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}

.email_wrap:hover{
	color: #e5097f;
}

.email_wrap:hover:after{
	width: 100%;
}

.submit_article_content b{
	display: block;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px 0 70px;
}

/* form */

.main_form legend{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(119, 119, 119);
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1.5px;
	border-bottom: 0;
	margin-bottom: 0;
}

.main_form p{
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
	color: #2a2a2a;
}

.main_form span{
	font-weight: bold;
}

.main_form i{
	display: block;
	max-width: 260px;
	height: 1px;
	background-color: #ddd;
	margin-bottom: 35px;
}

.star {
	color: red;
}

.main_form input{
	width: 260px;
	height: 43px;
	display: block;
	padding: 10px;
	border: 1px solid #c4c4c4;
	margin: 20px 0;
}

.main_form input[type="name"] + label,
.main_form input[id="date"] + label{
	position: relative;
	display: block;
	margin: 0;
}

.main_form input[type="name"] + label:after{
	position: absolute;
	left: 136px;
	top: -49px;
	content: '*';
	color: red;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.main_form input[id="date"] + label:after{
	position: absolute;
	left: 133px;
	top: -49px;
	content: '*';
	color: red;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.main_form input[type="name"]:focus + label:after,
.main_form input[id="date"]:focus + label:after{
	display: none;
}

.main_form input[type="text"]{
	background-image: url('../img/icon-calendar-gray.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}

.main_form input[type="text"]:hover{
	background-image: url('../img/icon-calendar.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}

.main_form input[type="radio"],
.main_form input[type="checkbox"]{
	display: none;
}

.main_form input[type="radio"] + label{
	position: relative;
	padding: 0 10px 0 30px;
	cursor: pointer;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	color: #2a2a2a;
	font-style: normal;
	font-weight: normal;
}

.main_form input[type="radio"] + label::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url('../img/radio.png');
	background-repeat: no-repeat;

}

.main_form input[type="radio"] + label:hover{
	color: #e5097f;
}

.main_form input[type="radio"]:checked + label:before{
	background-position: 0 -20px;
}

.main_form input[type="checkbox"] + label{
	display: block;
	position: relative;
	cursor: pointer;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	color: #2a2a2a;
	font-style: normal;
	font-weight: normal;
	padding-left: 30px;
	margin-bottom: 30px;
	max-width: 760px;
}

.main_form input[type="checkbox"] + label::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url('../img/checkbox1.png');
	background-repeat: no-repeat;

}

.main_form input[type="checkbox"] + label:hover{
	color: #e5097f;
}

.main_form input[type="checkbox"]:checked + label:before{
	background-position: 0 -20px;
}

.main_form input:hover,
.main_form input:focus{
	border-color: #e5097f;
	outline: none;
}

::-webkit-input-placeholder{
	color:#2a2a2a;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: italic;
	text-overflow:ellipsis;
}
::-moz-placeholder{
	color:#2a2a2a;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: italic;
	text-overflow:ellipsis;
}
:-moz-placeholder{
	color:#2a2a2a;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: italic;
	text-overflow:ellipsis;
}
:-ms-input-placeholder{
	color:#2a2a2a;
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	font-style: italic;
	text-overflow:ellipsis;	
}


:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.attachments{
	margin: 50px 0;
}

.attachments p {
  font-size: 14px;
  font-family: "Georgia", sans-serif;
  color: rgb(42, 42, 42);
  line-height: 1.2;
  font-style: normal;
  text-align: left;
}

#upload_button,
#upload_photo_button{
	display: none;
}

#upload_button + label,
#upload_photo_button + label{
	background-color: #2a2a2a;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	margin-top: 10px;
	padding: 13px 35px;
	border: 2px solid #2a2a2a;
	min-width: 190px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#upload_button + label:hover,
#upload_photo_button + label:hover{
	background-color: #fff;
	color: #000;
}

.upload_photo_wrap{
	margin-top: 70px;
}

.photo_wrap{
	max-width: 200px;
	display: inline-block;
}

.drop_zone{
	display: inline-block;
	width: 188px;
	height: 188px;
	border: 2px solid #60c9f0;
	background-color: #60c9f0;
	background-image: url('../img/Shape 183 копия.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #555;
    font-size: 18px;
    text-align: center; 
}

.drop_zone.hover {
    border-color: #e5097f;
}

.drop_zone.error {
    border-color: #f00;
}

.drop_zone.drop {
    border-color: #0f0;
}

.upload_photo_content{
	padding: 30px 0 0 25px;
	vertical-align: top;
	display: inline-block;
	max-width: 340px;
}

.main_form button{
	background-color: #e5097f;
	outline: 0;
	color: #fff;
	border: 2px solid #e5097f;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 66px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.main_form button:hover,
.main_form button:focus{
	background-color: transparent;
	color: #e5097f;
}







/* FOOTER */

footer{
	background-color: #242626;
	text-align: center;
	padding: 15px 0;
}

footer ul{
	list-style-type: none;
	margin-bottom: 15px;
}

footer ul li{
	display: inline-block;
	margin: 10px 20px;
}

footer ul li a{
	font-size: 12px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

footer ul li a:hover{
	color: #e12633;
}

.row_1 p,
.row_3 p {
	display: inline-block;
	font-size: 14px;
	font-family: "Hind", sans-serif;
	color: rgb(119, 119, 119);
	line-height: 1.714;
	text-align: center;
	margin: 0 8px;
}

.row_2 a{
	display: inline-block;
	font-size: 14px;
	font-family: "Hind", sans-serif;
	color: rgb(119, 119, 119);
	line-height: 1.714;
	text-align: center;
	margin: 0 8px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.row_2 a:hover{
	color: #fff;
}

.row_1,
.row_2,
.row_3{
	margin-bottom: 10px;
}

.sotial_footer_wrap a{
	margin: 0 5px;
}

.sotial_footer_wrap a i {
    color: #fff;
    border: 1px solid #393a3b;
    border-radius: 50%;
    padding-top: 9px;
    width: 30px;
    height: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.sotial_footer_wrap a i:hover {
    border-color: #e12633;
}

.sotial_footer_wrap a i:active {
    background-color: #e12633;
}