/* Large Devices, Wide Screens */
@media only screen and (max-width : 1358px){
	.slick-prev, 
	.slick-next{
		display: none !important;
	}
}

@media only screen and (max-width : 1287px) {
	.header_nav .main_nav,
	.header_nav .navbar-collapse{
		padding: 0;
	}
	.nav_logo img{
		width: 200px;
		margin-top: 22px;
	}
	.header_top .col-xs-12 .col-xs-3,
	.header_top .col-xs-12 .col-xs-6{
		padding: 0;
	}
	.header_top .center_logo_wrap p{
		font-size: 12px;
	}
	.head_sotial_wrap a:nth-of-type(3){
		margin-right: 0;
	}
	.head_sotial_wrap{
		text-align: center;
	}
	.recent_articles_content_item{
		max-width: 100%;
	}
	.recent_articles_content_item:nth-of-type(odd){
		margin-right: 0;
	}
	.recent_articles_content_item:nth-of-type(even){
		margin-left: 0;
	}
	.popularity h2{
		font-size: 13px;
	}
	.news_content_item_wrap .img_wrap::after{
		height: 97%;
	}
	.analytics img{
		width: 120px;
	}
	.content_wrap{
		width: 100%;
	}
	.content_wrap h3{
		padding-bottom: 0;
	}
	.archive_content_item span{
		margin-right: 5px;
	}
	.archive_content_item p{
		font-size: 10px;
		letter-spacing: 0.5px;
	}
	.news_section_header{
		padding: 30px 40px 30px;
	}
	.news_section_content h3{
		margin: 0px 65px 25px;
	}
	.news_section_content p{
		margin: 0 90px;
	}
	.news_section_content ol{
		margin: 0 105px 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.nav_logo{
		padding: 0;
	}
	.nav_logo img{
		width: 180px;
	}
	.header_nav .main_nav{
		height: 50px;
	}
	.header_nav .main_nav ul li{
		margin: 13px 1px;
	}
	.header_nav .main_nav ul li a{
		font-size: 12px;
	}
	.header_top{
		height: auto;
	}
	.header_top .logo_wrap img{
		width: 130px;
	}
	.head_sotial_wrap{
		margin-top: 23px;
		text-align: right;
	}
	.head_sotial_wrap a{
		text-align: center;
	}
	.header_top .logo_wrap{
		text-align: left;
	}
	.header_top .logo_wrap img{
		margin: 0;
	}
	.header_top .col-xs-12 .col-xs-3, 
	.header_top .col-xs-12 .col-xs-6{
		padding: 0 15px;
	}
	.header_nav{
		height: 75px;
	}
	.header_top .logo_wrap span{
		margin-left: 0;
	}
	.about_journalism_content_wrap{
		padding: 0;
	}
	.quote{
		display: table-cell;
		width: 50%;
		vertical-align: bottom;
	}
	.analytics_content_item{
		text-align: center;
	}
	.analytics_content_item_data{
		text-align: left;
	}
	.content_wrap {
    	width: 60%;
	}
	.archive_content_item{
		text-align: center;
	}
	.archive_content_item span{
		margin-right: 10px;
	}
	.archive_content_item p{
		font-size: 14px;
		letter-spacing: 1.5px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header_nav .main_nav,
	.header_nav .navbar-collapse{
		padding: 0 15px;
	}
	.header_nav{
		height: auto;
	}
	.header_nav .main_nav{
		margin-top: 0;
	}
	.header_nav .main_nav ul li a{
		border: none;
		font-size: 16px;
		color: #fff;
		padding: 15px 5px;
		-webkit-transition: color 0.3s;
		-o-transition: color 0.3s;
		transition: color 0.3s;
	}

	.header_nav .main_nav ul li a:hover{
		/*background-color: #eee;*/
	}
	.header_nav .main_nav ul li{
		display: block;
		text-align: center;
		margin: 13px 0;
	}
	.header_nav .main_nav ul li:first-of-type{
		margin-top: 0;
	}
	.header_nav .main_nav ul li:last-of-type{
		margin-bottom: 0;
	}
	.header_nav .main_nav ul{
		margin: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.nav_logo{
		margin-top: 8px;
		display: inline-block;
	}
	.nav_logo img{
		margin: 0;
	}
	.navbar-toggle{
		margin-right: 5px;
	}
	.news_content_wrap{
		flex-wrap: wrap;
	}
	.news_content_item_wrap{
		width: 100%;
		margin-bottom: 20px;
	}
	.news_content_item_wrap .img_wrap{
		display: inline-block;
		width: 200px;
		height: auto;
	}
	.news_content_text_wrap{
		vertical-align: top;
		display: inline-block;
		max-width: 50%;
		height: 110px;
		overflow: hidden;
		margin: 0;
		padding: 15px 0 0 15px;
	}
	.news_content_item_wrap h3{
		padding-bottom: 5px;
	}
	.news_content_item_data_wrap{
		border: none;
	}
	.gallery_item_content p{
		padding-top: 180px;
	}
	.quote{
		display: block;
		width: 100%;
		vertical-align: initial;
	}
	.news_content_item_wrap .img_wrap::after{
		display: none;
	}
	.news_content_item_data_wrap a{
		opacity: 1;
	}
	.news_section_header {
    	padding: 20px 30px 20px;
	}
	.news_section_header h1{
		text-align: center;
	}
	.news_section_content {
    	padding: 20px 0;
	}
	.news_section_content h3 {
    	margin: 0px 0px 5px;
	}
	.news_section_content p {
    	margin: 0 25px;
	}
	.news_section_content ol {
		margin: 0 50px 30px;
		margin: auto;
		max-width: 500px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 496px) {
	.news_content_item_wrap .img_wrap{
		width: 100%;
	}
	.news_content_text_wrap{
		max-width: 100%;
		padding: 15px;
	}
	.news_content_item_data_wrap{
		border-top: 1px solid #ddd;
	}
}

@media only screen and (max-width : 480px) {
	.about_journalism_wrap h2{
		margin-bottom: 20px;
	}
	.gallery_item_content p{
		padding: 100px 10px 0;
	}
	.quote{
		padding: 10px;
	}
	.quote1 h3{
		margin: 40px 0;
	}
	.quote2 h3{
		margin: 20px 0;
	}
	.analytics_content_item{
		text-align: left;
	}
	.content_wrap {
    	width: 100%;
    	display: block;
	}
	.content_wrap h3,
	.content_wrap span,
	.analytics_content_item{
		text-align: center;
	}
	.archive_content_item span{
		margin-right: 5px;
	}
	.archive_content_item p{
		font-size: 12px;
		letter-spacing: 1.5px;
	}
	.head_sotial_wrap i{
		margin: 0;
	}
	.header_top .logo_wrap span{
		font-size: 11px;
	}
	.news_section_content ol{
		max-width: 300px;
		margin: 0 15px;
	}
	.news_section_header {
    	padding: 5px;
	}
	.news_section_header h1{
		font-size: 18px;
	}
	.news_section_header p{
		line-height: 2.429;
	}
	.news_section_content h3{
		font-size: 16px;
		padding: 10px;
	}
	.news_section_content p{
		text-align: justify;
		margin: 0;
		padding: 10px 0;
	}
	.news_section_img_wrap {
		margin: 15px 0;
	}
	.news_section_img_wrap span{
		margin: 20px 0;
	}
	.rules{
		background-color: white;
		margin: 0 0 30px;
	}
	.accordion{
		margin: 0;
	}
	.accordion h3{
		width: 100%;
		font-size: 13px;
	}
	.accordion li div p{
		padding: 10px 0;
		text-align: justify;
	}
	.accordion li:last-child::after {
		width: 100%;
	}
}